<template>
    <div class="min-h-screen h-dvh flex items-center justify-center px-4">
        <div class="w-full flex flex-col items-center max-w-[31.25rem] lg:px-[3.5rem]">
            <router-link to="/" class="w-[10rem] mb-8">
                <img class="w-full h-full" src="@/assets/Black%20&%20White%20Minimalist%20Business%20Logo%20(1).png" alt="Logo">
            </router-link>
            <div class="flex gap-4">
                <ButtonComponent @click="isSignUp = true" class="px-4" :button-type="isSignUp ? 'white' : 'blue-light'" >Ro’yxatdan o’tish</ButtonComponent>
                <ButtonComponent @click="isSignUp = false" class="px-8"  :button-type="!isSignUp ? 'white' : 'blue-light'" >Kirish</ButtonComponent>
            </div>

            <SignUp v-if="isSignUp" />
            <SignIn v-else />
            <!--<SmsCode />-->
        </div>
    </div>
</template>

<script setup>

import ButtonComponent from '@/components/ButtonComponent.vue'
import SignIn from '@/components/SignIn.vue'
import SignUp from '@/components/SignUp.vue'
import { ref } from 'vue'

const isSignUp = ref(false)
</script>

<style scoped>

</style>