<template>
    <div>
        <HeaderRow/>

        <div class="container">
            <h1 class="text-2xl font-medium leading-9 max-w-[135px] text-gray mt-10">Savatcha(2)</h1>

            <div class="grid grid-cols-12">
                <main class="flex flex-col col-span-12 lg:col-span-8 py-11 bg-white rounded-2xl shadow-[3px_4px_4px_0_#0000001A,-1px_-1px_4px_0_#0000001A] leading-[150%] my-12">
                    <header class="flex gap-3 self-start ml-12 text-lg whitespace-nowrap text-gray">
                        <input
                            id="input"
                            class="w-4 lg:w-5 h-4 lg:h-5 border-2 border-[#4A4B57] cursor-pointer accent-blue mt-1.5 lg:mt-1"
                            type="checkbox"
                        />
                        <label for="input" class="grow my-auto cursor-pointer">Hammasi</label>
                    </header>
                    <div class="bg-[#0000001A] h-0.5 w-full mt-8"></div>

                    <div class="mx-9">
                        <section class="flex flex-col self-center px-9 py-6 mt-12 w-full bg-white rounded-2xl max-[887px] max-md:px-5 max-md:mt-10 max-md:max-w-full shadow-[0_4px_8px_0_#5C6BC033,0_2px_4px_0#3B457B33]">
                            <div class="flex gap-5 justify-between self-start whitespace-nowrap">
                                <h2 class="my-auto text-lg font-medium text-gray">MacBro</h2>
                                <div class="flex gap-2 justify-between text-sm text-[#818181] mt-1">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.98816 2.98816C2.67559 3.30072 2.5 3.72464 2.5 4.16667V5C2.5 11.9033 8.09667 17.5 15 17.5H15.8333C16.2754 17.5 16.6993 17.3244 17.0118 17.0118C17.3244 16.6993 17.5 16.2754 17.5 15.8333V13.1008C17.5 12.9259 17.445 12.7553 17.3427 12.6134C17.2404 12.4714 17.096 12.3653 16.93 12.31L13.1858 11.0617C12.9956 10.9984 12.7888 11.0059 12.6036 11.0827C12.4184 11.1596 12.2671 11.3006 12.1775 11.48L11.2358 13.3608C9.19538 12.4389 7.5611 10.8046 6.63917 8.76417L8.52 7.8225C8.69938 7.73288 8.84042 7.58158 8.91726 7.39637C8.9941 7.21116 9.00158 7.00445 8.93833 6.81417L7.69 3.07C7.63475 2.90413 7.52874 2.75984 7.38696 2.65754C7.24519 2.55525 7.07483 2.50013 6.9 2.5H4.16667C3.72464 2.5 3.30072 2.67559 2.98816 2.98816Z" stroke="#818181" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <div class="grow">Bog’lanish</div>
                                </div>
                            </div>
                            <div class="bg-[#0000001A] h-0.5 w-full mt-3"></div>
                            <label for="input1" class="flex gap-1.5 justify-between items-center mt-6 text-sm-zinc-900 max-md:flex-wrap max-md:max-w-full cursor-pointer">
                                <input
                                    id="input1"
                                    class="w-4 lg:w-5 h-4 lg:h-5 border-2 border-[#4A4B57] cursor-pointer accent-blue"
                                    type="checkbox"
                                />
                                <img loading="lazy" src="/src/assets/images/Image.png" alt="Product image" class="self-stretch max-w-full aspect-square w-[70%] sm:w-[126px]" />
                                <div class="flex flex-col flex-2 sm:flex-1 self-stretch my-auto max-md:max-w-full">
                                    <p class="tracking-wide leading-5 max-md:max-w-full text-xs lg:text-sm">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </p>
                                    <div class="flex gap-1.5 self-start mt-3 font-medium tracking-wide whitespace-nowrap text-sm">
                                        <div class="grow text-xs lg:text-sm">
                                            <span class="text-gray font-bold">Rangi: </span>
                                            <span class="text-gray">Silver</span>
                                        </div>
                                        <svg class="mt-0.5" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="7.5" cy="7.5" r="7" fill="#C4C4C4" stroke="#B3B3B3"/>
                                        </svg>
                                    </div>
                                    <div class="mt-4 text-sm lg:text-lg font-bold max-md:max-w-full">$1800.50</div>
                                </div>
                            </label>
                            <footer class="flex gap-5 justify-between items-start self-center mt-11 w-full text-sm max-w-[781px] max-md:flex-wrap max-md:mt-10 max-md:max-w-full">
                                <div class="flex flex-col text-xs lg:text-sm">
                                    <div class="font-medium text-gray">O’zbekiston bo’ylab yetkazib berish xizmati mavjud</div>
                                    <p class="mt-2 text-black text-opacity-50">Yetkazib berish muddati 7-15 kun oralig’ida</p>
                                </div>
                                <button class="justify-center px-5 py-3 font-semibold text-white whitespace-nowrap bg-blue rounded-2xl">Sotuvchidan sotib olish</button>
                            </footer>
                        </section>
                    </div>


                    <div class="mx-9">
                        <section class="flex flex-col self-center px-9 py-6 mt-12 w-full bg-white rounded-2xl max-[887px] max-md:px-5 max-md:mt-10 max-md:max-w-full shadow-[0_4px_8px_0_#5C6BC033,0_2px_4px_0#3B457B33]">
                            <div class="flex gap-5 justify-between self-start whitespace-nowrap">
                                <h2 class="my-auto text-lg font-medium text-gray">MacBro</h2>
                                <div class="flex gap-2 justify-between text-sm text-[#818181] mt-1">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.98816 2.98816C2.67559 3.30072 2.5 3.72464 2.5 4.16667V5C2.5 11.9033 8.09667 17.5 15 17.5H15.8333C16.2754 17.5 16.6993 17.3244 17.0118 17.0118C17.3244 16.6993 17.5 16.2754 17.5 15.8333V13.1008C17.5 12.9259 17.445 12.7553 17.3427 12.6134C17.2404 12.4714 17.096 12.3653 16.93 12.31L13.1858 11.0617C12.9956 10.9984 12.7888 11.0059 12.6036 11.0827C12.4184 11.1596 12.2671 11.3006 12.1775 11.48L11.2358 13.3608C9.19538 12.4389 7.5611 10.8046 6.63917 8.76417L8.52 7.8225C8.69938 7.73288 8.84042 7.58158 8.91726 7.39637C8.9941 7.21116 9.00158 7.00445 8.93833 6.81417L7.69 3.07C7.63475 2.90413 7.52874 2.75984 7.38696 2.65754C7.24519 2.55525 7.07483 2.50013 6.9 2.5H4.16667C3.72464 2.5 3.30072 2.67559 2.98816 2.98816Z" stroke="#818181" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <div class="grow">Bog’lanish</div>
                                </div>
                            </div>
                            <div class="bg-[#0000001A] h-0.5 w-full mt-3"></div>
                            <label for="input2" class="flex gap-1.5 justify-between items-center mt-6 text-sm-zinc-900 max-md:flex-wrap max-md:max-w-full cursor-pointer">
                                <input
                                    id="input2"
                                    class="w-4 lg:w-5 h-4 lg:h-5 border-2 border-[#4A4B57] cursor-pointer accent-blue"
                                    type="checkbox"
                                />
                                <img loading="lazy" src="/src/assets/images/Image-8.png" alt="Product image" class="self-stretch max-w-full aspect-square w-[70%] sm:w-[126px]" />
                                <div class="flex flex-col flex-2 sm:flex-1 self-stretch my-auto max-md:max-w-full">
                                    <p class="tracking-wide leading-5 max-md:max-w-full text-xs lg:text-sm">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    </p>
                                    <div class="flex gap-1.5 self-start mt-3 font-medium tracking-wide whitespace-nowrap text-sm">
                                        <div class="grow text-xs lg:text-sm">
                                            <span class="text-gray font-bold">Rangi: </span>
                                            <span class="text-gray">White</span>
                                        </div>
                                        <svg class="mt-0.5" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="7.5" cy="7.5" r="7" fill="white" stroke="#B3B3B3"/>
                                        </svg>
                                    </div>
                                    <div class="mt-4 text-sm lg:text-lg font-bold max-md:max-w-full">$499.99</div>
                                </div>
                            </label>
                            <footer class="flex gap-5 justify-between items-start self-center mt-11 w-full text-sm max-w-[781px] max-md:flex-wrap max-md:mt-10 max-md:max-w-full">
                                <div class="flex flex-col text-xs lg:text-sm">
                                    <div class="font-medium text-gray">O’zbekiston bo’ylab yetkazib berish xizmati mavjud</div>
                                    <p class="mt-2 text-black text-opacity-50">Yetkazib berish muddati 7-15 kun oralig’ida</p>
                                </div>
                                <button class="justify-center px-5 py-3 font-semibold text-white whitespace-nowrap bg-blue rounded-2xl">Sotuvchidan sotib olish</button>
                            </footer>
                        </section>
                    </div>
                </main>

                <div class="col-span-12 lg:col-span-4 mb-12 lg:ms-8 lg:mt-12">
                    <BuyProductsCard class="lg:sticky lg:top-[105px]" />
                </div>
            </div>

            <div
                class="col-span-11 lg:col-span-8 grid grid-cols-12 gap-4 lg:shadow-[0_2px_4px_0_#5A5B6A3D,0_1px_2px_0_#3A3A443D] rounded lg:px-6 lg:py-4 mb-16"
            >
                <div class="col-span-12 mb-2">
                    <p class="text-lg sm:text-2xl leading-9 font-medium mb-4 sm:mb-9">
                        Tavsiya etilganlar
                    </p>
                </div>
                <div class="col-span-12 grid grid-cols-12 gap-4 lg:px-12 xl:px-24 lg:pb-16">
                    <div
                        class="col-span-6 sm:col-span-4 xl:col-span-3"
                        v-for="product of products"
                        :key="product.id"
                    >
                        <ItemCardComponent :item="product" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import HeaderRow from "@/components/HeaderRow.vue";
import ItemCardComponent from "@/components/ItemCardComponent.vue";
import {reactive} from "vue";
import BuyProductsCard from "@/components/BuyProductsCard.vue";

const products = reactive([
    {
        id: 1,
        image: '/src/assets/images/iphone-13-pro-family-hero 1.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$1100.50',
        market: 'MacBro',
        rating: '4.05'
    },
    {
        id: 2,
        image: '/src/assets/images/Image15.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$2500.95',
        market: 'MacBro',
        rating: '4.56'
    },
    {
        id: 3,
        image: '/src/assets/images/Image-8.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$499.99',
        market: 'MacBro',
        rating: '3.87'
    },
    {
        id: 4,
        image: '/src/assets/images/Image14.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$1150.48',
        market: 'MacBro',
        rating: '4.99'
    },
    {
        id: 5,
        image: '/src/assets/images/Image13.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$540.48',
        market: 'MacBro',
        rating: '4.99'
    },
    {
        id: 6,
        image: '/src/assets/images/Image12.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$210.99',
        market: 'MacBro',
        rating: '4.87'
    },
    {
        id: 7,
        image: '/src/assets/images/Image11.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$200.95',
        market: 'MacBro',
        rating: '4.99'
    },
    {
        id: 8,
        image: '/src/assets/images/Image.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$1800.50',
        market: 'MacBro',
        rating: '4.77'
    }
])
</script>

<style scoped>

</style>
