<template>
    <div>
        <HeaderRow />
        <CategoryRow />
        <div class="container mb-6">
            <div class="grid grid-cols-11">
                <div
                    class="flex flex-col gap-3 lg:gap-6 col-span-11 lg:col-span-3 mb-4 lg:mb-0 lg:pr-7 h-fit lg:sticky lg:top-[105px]"
                >
                    <FilterCol :filters="mainFilter" filter-name="Asosiy filterlar" is-open />
                    <FilterCol
                        :filters="yearOfManufactureFilter"
                        filter-name="Ishlab chiqarilgan yili"
                        is-open
                    />
                </div>
                <div
                    class="col-span-11 lg:col-span-8 grid grid-cols-12 gap-4 lg:shadow-[0_2px_4px_0_#5A5B6A3D,0_1px_2px_0_#3A3A443D] rounded lg:px-6 lg:py-4"
                >
                    <div class="col-span-12 mb-2">
                        <SortingRow @update-product-view="changeProductView" />
                    </div>
                    <div class="col-span-12 grid grid-cols-12 gap-4">
                        <div
                            :class="`${isListView ? 'col-span-12' : 'col-span-6 sm:col-span-4 xl:col-span-3'}`"
                            v-for="product of products"
                            :key="product.id"
                        >
                            <ItemCardComponent :item="product" :is-list-view="isListView" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <PaginationRow class="mt-11 mb-6" />

        <FooterRow />
    </div>
</template>

<script setup>
import HeaderRow from '@/components/HeaderRow.vue'
import CategoryRow from '@/components/CategoryRow.vue'
import PaginationRow from '@/components/PaginationRow.vue'
import ItemCardComponent from '@/components/ItemCardComponent.vue'
import { reactive, ref } from 'vue'
import FilterCol from '@/components/FilterCol.vue'
import SortingRow from '@/components/SortingRow.vue'
import FooterRow from '@/components/FooterRow.vue'

const products = reactive([
    {
        id: 1,
        image: '/src/assets/images/iphone-13-pro-family-hero 1.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$1100.50',
        market: 'Mediapark',
        rating: '3.05'
    },
    {
        id: 2,
        image: '/src/assets/images/Image2.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$13.95',
        market: 'Button',
        rating: '1'
    },
    {
        id: 3,
        image: '/src/assets/images/Image-8.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$499.99',
        market: 'Texnomart',
        rating: '2.87'
    },
    {
        id: 4,
        image: '/src/assets/images/Image-7.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$12.48',
        market: 'Chinni olami',
        rating: '4.99'
    },
    {
        id: 5,
        image: '/src/assets/images/Image-6.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$0.48/kg',
        market: 'Korzinka.uz',
        rating: '4.99'
    },
    {
        id: 6,
        image: '/src/assets/images/Image-5.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$128.99',
        market: 'Velosport',
        rating: '4.87'
    },
    {
        id: 7,
        image: '/src/assets/images/Image-4.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$7.95',
        market: 'Button',
        rating: '4.56'
    },
    {
        id: 8,
        image: '/src/assets/images/Image.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$1800.50',
        market: 'MacBro',
        rating: '5'
    },
    {
        id: 9,
        image: '/src/assets/images/Image-3.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$40.99',
        market: 'Chinni bozor',
        rating: '4.87'
    },
    {
        id: 10,
        image: '/src/assets/images/Image-2.png',
        description:
            'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$11.68',
        market: 'GardenShop',
        rating: '4.99'
    },
    {
        id: 11,
        image: '/src/assets/images/Image-1.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$1.25',
        market: 'BeautyLife',
        rating: '4.77'
    },
    {
        id: 12,
        image: '/src/assets/images/Image3.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$23.25',
        market: 'BeautyLife',
        rating: '4.56'
    }
])

const mainFilter = [
    {
        id: 1,
        name: 'Tavsiya etilgan'
    },
    {
        id: 2,
        name: 'Yangi qo’shilgan'
    },
    {
        id: 3,
        name: 'Tez orada tugaydigan'
    },
    {
        id: 4,
        name: 'Eng yaxshi baholangan'
    },
    {
        id: 5,
        name: 'Narx: Past → Yuqori'
    },
    {
        id: 6,
        name: 'Narx: Yuqori → Past'
    }
]
const yearOfManufactureFilter = [
    {
        id: 1,
        name: '2010'
    },
    {
        id: 2,
        name: '2011'
    },
    {
        id: 3,
        name: '2012'
    },
    {
        id: 4,
        name: '2013'
    },
    {
        id: 5,
        name: '2014'
    },
    {
        id: 6,
        name: '2015'
    },
    {
        id: 7,
        name: '2016'
    },
    {
        id: 8,
        name: '2017'
    },
    {
        id: 9,
        name: '2018'
    },
    {
        id: 10,
        name: '2019-2020'
    }
]

const isListView = ref(false)
const changeProductView = (isList) => {
    isListView.value = isList
}
</script>

<style scoped></style>
