<template>
    <div>
        <HeaderRow />
        <div class="mt-8 lg:mt-12 mb-[9rem]">
            <div class="container">
                <div class="grid grid-cols-12">
                    <div class="col-span-full lg:col-span-5 lg:pr-10">
                        <div class="aspect-square lg:h-fit rounded-xl w-full">
                            <img
                                class="m-auto h-full object-contain rounded-xl"
                                :src="images[selectedImage].img"
                                alt="Item Photo"
                            />
                        </div>
                        <div class="relative">
                            <div
                                ref="imageRef"
                                class="flex snap-x snap-mandatory imagesContainer gap-4 w-full mt-4 overflow-x-auto"
                            >
                                <div
                                    @click="selectImage(index)"
                                    v-for="(image, index) in images"
                                    :key="index"
                                    class="flex-none snap-start bg-gray_lightest rounded-xl w-[4.5rem] h-[4.5rem]"
                                    :class="{ 'border border-blue': index === selectedImage }"
                                >
                                    <img
                                        class="flex-1 m-auto h-full rounded-xl object-contain"
                                        :src="image.img"
                                        alt="Item Photo"
                                    />
                                </div>
                                <button
                                    v-if="isScrollable"
                                    @click="moveImages('right')"
                                    class="absolute top-1/2 -translate-y-1/2 right-2 hover:bg-opacity-50 flex items-center justify-center hover:bg-gray20 rounded-full w-6 h-6"
                                >
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.70504 6L8.29504 7.41L12.875 12L8.29504 16.59L9.70504 18L15.705 12L9.70504 6Z"
                                            fill="#76A9FF"
                                        />
                                    </svg>
                                </button>
                                <button
                                    v-if="isScrollable"
                                    @click="moveImages('left')"
                                    class="absolute top-1/2 -translate-y-1/2 left-2 hover:bg-opacity-50 flex items-center justify-center hover:bg-gray20 rounded-full w-6 h-6"
                                >
                                    <svg
                                        width="24"
                                        height="25"
                                        viewBox="0 0 24 25"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M16 7.42074L11.41 12.0107L16 16.6007L14.58 18.0107L8.58 12.0107L14.58 6.01074L16 7.42074Z"
                                            fill="#2264D1"
                                        />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <hr class="border-[#e6e6e6] border mt-5 lg:mt-8" />
                    </div>
                    <div class="col-span-full lg:col-span-7 mt-5 lg:mt-0">
                        <div class="text-sm lg:text-lg font-medium text-center lg:text-start">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever
                            since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.
                        </div>
                        <hr class="border-[#e6e6e6] border mt-5 lg:mt-8" />
                        <div class="mt-5 lg:mt-8 font-bold text-lg lg:text-[2rem]">
                            9 000 000 - 14 000 000 so'm
                        </div>
                        <hr class="border-[#e6e6e6] border mt-5 lg:mt-8" />
                        <div class="font-medium text-lg text-[1.5rem] mt-5 lg:mt-8">Rangi</div>
                        <div class="flex gap-8 lg:gap-14 mt-5 lg:mt-8">
                            <div
                                v-for="(color, index) in colors"
                                :key="index"
                                class="rounded-full w-[1.375rem] h-[1.375rem] lg:w-[1.875rem] lg:h-[1.875rem] border border-[#b3b3b3]"
                                :class="color.color"
                            ></div>
                        </div>
                        <div class="font-medium text-lg text-[1.5rem] mt-5 lg:mt-8">Miqdori</div>
                        <div class="flex mt-5 lg:mt-8">
                            <button
                                @click="count--"
                                class="rounded-full bg-[#c4c4c4] w-[1.375rem] h-[1.375rem] lg:w-[1.875rem] lg:h-[1.875rem] leading-none lg:text-2xl font-medium flex items-center justify-center"
                            >
                                -
                            </button>
                            <input
                                type="text"
                                :value="count"
                                class="text-sm lg:text-2xl outline-none text-center px-1 w-16"
                            />
                            <button
                                @click="count++"
                                class="rounded-full bg-[#c4c4c4] w-[1.375rem] h-[1.375rem] lg:w-[1.875rem] lg:h-[1.875rem] leading-none lg:text-2xl flex items-center justify-center font-medium"
                            >
                                +
                            </button>
                        </div>
                        <div
                            class="text-sm lg:text-xl text-medium mt-5 lg:mt-8 text-center lg:text-start"
                        >
                            O’zbekiston bo’ylab yetkazib berish xizmati mavjud
                        </div>
                        <div
                            class="text-sm lg:text-xl text-medium text-gray30 text-center lg:text-start"
                        >
                            Yetkazib berish muddati 7-15 kun oralig’ida
                        </div>
                        <div class="flex items-center mt-5 lg:mt-8 justify-center lg:justify-start">
                            <svg
                                class="w-6 h-6 leading-none lg:w-[35px] lg:h-[35px]"
                                width="35"
                                height="35"
                                viewBox="0 0 35 35"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M13.125 17.5L16.0417 20.4167L21.875 14.5833M30.0679 8.72667C25.4568 8.97155 20.9369 7.37715 17.5 4.29333C14.0631 7.37715 9.54319 8.97155 4.93209 8.72667C4.56099 10.1633 4.3738 11.6412 4.37501 13.125C4.37501 21.2785 9.95167 28.1313 17.5 30.0738C25.0483 28.1313 30.625 21.28 30.625 13.125C30.625 11.6054 30.431 10.1325 30.0679 8.72667Z"
                                    stroke="#19191D"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                            <div class="font-medium text-sm leading-none lg:text-xl ml-2.5">
                                Platforma tomidan xavfsiz to’lov
                            </div>
                        </div>
                        <div
                            class="flex flex-col sm:flex-row gap-3 items-center lg:gap-8 mt-5 lg:mt-8"
                        >
                            <router-link to="/purchase">
                                <ButtonComponent button-type="blue" class="px-8 lg:w-fit"
                                    >Hozir sotib olish
                                </ButtonComponent>
                            </router-link>
                           <router-link to="/basket">
                               <ButtonComponent button-type="blue-outline" class="px-8 lg:w-fit">
                                   Savatchaga qo'shish
                               </ButtonComponent>
                           </router-link>
                            <ButtonComponent
                                button-type="blue-outline"
                                class="lg:flex px-4 ml-auto lg:w-fit items-center justify-center hidden"
                            >
                                <svg
                                    width="30"
                                    height="31"
                                    viewBox="0 0 30 31"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M18.4167 12.5833H25.3642C25.8613 12.5834 26.3501 12.7104 26.7843 12.9525C27.2185 13.1945 27.5836 13.5435 27.845 13.9664C28.1064 14.3892 28.2553 14.8718 28.2778 15.3684C28.3002 15.865 28.1953 16.3591 27.9731 16.8038L22.869 27.0121C22.6267 27.4969 22.2541 27.9047 21.793 28.1896C21.3319 28.4745 20.8005 28.6253 20.2585 28.625H14.4004C14.1627 28.625 13.925 28.5958 13.6931 28.5375L8.20833 27.1667M18.4167 12.5833V5.29167C18.4167 4.51812 18.1094 3.77625 17.5624 3.22927C17.0154 2.68229 16.2735 2.375 15.5 2.375H15.3615C14.6323 2.375 14.0417 2.96562 14.0417 3.69479C14.0417 4.73604 13.734 5.75396 13.155 6.62021L8.20833 14.0417V27.1667M18.4167 12.5833H15.5M8.20833 27.1667H5.29167C4.51812 27.1667 3.77625 26.8594 3.22927 26.3124C2.68229 25.7654 2.375 25.0235 2.375 24.25V15.5C2.375 14.7265 2.68229 13.9846 3.22927 13.4376C3.77625 12.8906 4.51812 12.5833 5.29167 12.5833H8.9375"
                                        stroke="#2264D1"
                                        stroke-width="3"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>
                                <span class="pl-3">1542</span>
                            </ButtonComponent>
                        </div>
                    </div>
                </div>
                <div
                    class="rounded-xl mt-[3.5rem] lg:mt-[6.25rem] shadow-[0_2px_4px_0_#5A5B6A3D,0_1px_2px_0_#3A3A443D]"
                >
                    <div
                        class="flex pt-[2rem] lg:pt-[2.875rem] px-[1.5rem] lg:px-[2.25rem] gap-4 w-fit"
                    >
                        <ButtonComponent
                            @click="isInfo = true"
                            class="px-4"
                            :button-type="isInfo ? 'white' : 'blue-light'"
                            >Umumiy</ButtonComponent
                        >
                        <ButtonComponent
                            @click="isInfo = false"
                            class="px-8"
                            :button-type="isInfo ? 'blue-light' : 'white'"
                            >Sharhlar</ButtonComponent
                        >
                    </div>

                    <!--Info-->
                    <div
                        v-if="isInfo"
                        class="grid grid-cols-12 mt-10 lg:mt-20 px-[1.5rem] lg:px-[2.25rem] pb-[2rem] lg:pb-[2.875rem]"
                    >
                        <div class="col-span-full mb-auto lg:col-span-4">
                            <img
                                class="w-full h-full object-contain"
                                :src="images[2].img"
                                alt="Item Photo"
                            />
                        </div>
                        <div
                            class="col-span-full lg:col-span-8 mt-[3.75rem] lg:mt-0 lg:ml-[3.75rem] text-sm lg:text-xl font-medium"
                        >
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It
                            has roots in a piece of classical Latin literature from 45 BC, making it
                            over 2000 years old. Richard McClintock, a Latin professor at
                            Hampden-Sydney College in Virginia, looked up one of the more obscure
                            Latin words, consectetur, from a Lorem Ipsum passage, and going through
                            the cites of the word in classical literature, discovered the
                            undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                            of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
                            Cicero, written in 45 BC. This book is a treatise on the theory of
                            ethics, very popular during the Renaissance. The first line of Lorem
                            Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
                            1.10.32. <br /><br />The standard chunk of Lorem Ipsum used since the
                            1500s is reproduced below for those interested. Sections 1.10.32 and
                            1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also
                            reproduced in their exact original form, accompanied by English versions
                            from the 1914 translation by H. Rackham. <br /><br />Lorem Ipsum is
                            simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text ever since the 1500s, when
                            an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the
                            leap into electronic typesetting, remaining essentially unchanged. It
                            was popularised in the 1960s with the release of Letraset sheets
                            containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </div>
                    </div>

                    <!--Comment-->
                    <div v-else class="mt-10 lg:mt-20">
                        <div class="px-[1.5rem] lg:px-[2.25rem] pb-[2rem] lg:pb-[2.875rem]">
                            <div class="font-medium text-sm lg:text-xl">Sharhlar (356)</div>
                            <div class="grid grid-cols-12 mt-12">
                                <div class="col-span-full lg:col-span-4 flex flex-col gap-11">
                                    <div
                                        v-for="(rate, index) in rates"
                                        :key="index"
                                        class="flex items-center"
                                    >
                                        <div class="text-[0.75rem] whitespace-nowrap lg:text-lg">
                                            {{ rate.label }} yulduz
                                        </div>
                                        <div class="h-1 mx-2 lg:mx-8 rounded-full w-full bg-gray30">
                                            <div
                                                class="h-full rounded-full bg-blue"
                                                :style="`width: ${rate.percent}%`"
                                            ></div>
                                        </div>
                                        <div
                                            class="rounded-lg text-[0.75rem] whitespace-nowrap lg:text-lg border border-gray30 text-gray30 px-2"
                                        >
                                            {{ rate.percent }}%
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-span-full lg:col-span-7 lg:col-start-6 my-auto items-center hidden lg:flex"
                                >
                                    <RatingComponent class="mr-5 lg:text-[36px]" :rating="'4.5'" />
                                    4.5
                                </div>
                            </div>
                            <div class="mt-12 hidden lg:flex gap-4">
                                <div
                                    class="rounded-lg text-[0.75rem] text-sm whitespace-nowrap border border-gray30 text-gray30 px-4 py-2"
                                >
                                    Rasmlar(54)
                                </div>
                                <div
                                    class="rounded-lg text-[0.75rem] text-sm whitespace-nowrap border border-gray30 text-gray30 px-4 py-2"
                                >
                                    Sharhlar(545)
                                </div>
                            </div>
                        </div>
                        <div
                            class="bg-gray20 flex flex-col gap-8 rounded-b-xl py-[2rem] lg:py-[2.875rem] px-[1.5rem] lg:px-[2.25rem]"
                        >
                            <div
                                v-for="(comment, index) in sortedComments"
                                :key="index"
                                class="rounded-xl bg-white p-4 grid grid-cols-12"
                            >
                                <div class="col-span-full lg:pb-5 flex flex-col lg:col-span-3">
                                    <div class="text-sm lg:text-lg whitespace-nowrap font-medium">
                                        {{ comment.owner }}
                                    </div>
                                    <div
                                        class="flex lg:h-full lg:flex-col justify-between items-centers"
                                    >
                                        <div class="text-sm lg:text-lg text-gray30">
                                            {{ comment.location }}
                                        </div>
                                        <div class="text-sm lg:text-lg items-center flex">
                                            <RatingComponent
                                                class="mr-2 text-sm"
                                                :rating="comment.rating"
                                            />
                                            {{ comment.rating }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-full lg:col-span-9">
                                    <div class="text-sm lg:text-lg mt-7 lg:mt-0">
                                        {{ comment.text }}
                                    </div>
                                    <div class="flex flex-wrap gap-2.5 mt-7">
                                        <div
                                            v-for="(image, index) in comment.images"
                                            :key="index"
                                            class="rounded-xl flex-none w-[70px]"
                                        >
                                            <img
                                                class="rounded-xl w-full h-full"
                                                :src="image.img"
                                                alt="Comment photo"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button
                                @click="sortComments"
                                class="text-sm mx-auto flex items-center lg:text-lg font-medium"
                            >
                                {{ isVisible ? 'Berkitish' : "Yana ko'rish" }}
                                <svg
                                    :class="{ 'rotate-180': isVisible }"
                                    class="ml-2 transition-transform"
                                    width="20"
                                    height="20"
                                    viewBox="0 0 20 20"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M15.8333 10.8334L9.99996 16.6667L4.16663 10.8334M15.8333 4.16675L9.99996 10.0001L4.16663 4.16675"
                                        stroke="#19191D"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <div
                    class="col-span-11 lg:col-span-8 grid grid-cols-12 gap-4 lg:shadow-[0_2px_4px_0_#5A5B6A3D,0_1px_2px_0_#3A3A443D] rounded lg:px-6 lg:py-4 my-16"
                >
                    <div class="col-span-12 mb-2">
                        <p class="text-lg sm:text-2xl leading-9 font-medium mb-4 sm:mb-9">
                            Tavsiya etilganlar
                        </p>
                    </div>
                    <div class="col-span-12 grid grid-cols-12 gap-4 lg:px-12 xl:px-24 lg:pb-16">
                        <div
                            class="col-span-6 sm:col-span-4 xl:col-span-3"
                            v-for="product of products"
                            :key="product.id"
                        >
                            <ItemCardComponent :item="product" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import HeaderRow from '@/components/HeaderRow.vue'
import itemImg1 from '@/assets/images/Image.svg'
import itemImg2 from '@/assets/images/image 2.svg'
import itemImg3 from '@/assets/images/Rectangle 2.svg'
import commentImg1 from '@/assets/images/Rectangle 13.svg'
import commentImg2 from '@/assets/images/Rectangle 14.svg'
import commentImg3 from '@/assets/images/Rectangle 15.svg'
import commentImg4 from '@/assets/images/Rectangle 16.svg'
import commentImg5 from '@/assets/images/Rectangle 17.svg'

import {onMounted, reactive, ref} from 'vue'
import ButtonComponent from '@/components/ButtonComponent.vue'
import RatingComponent from '@/components/RatingComponent.vue'
import ItemCardComponent from "@/components/ItemCardComponent.vue";

const images = ref([{ img: itemImg3 }, { img: itemImg1 }, { img: itemImg2 }])
const colors = ref([
    { color: 'bg-[#cececd]' },
    { color: 'bg-[#fdf7ef]' },
    { color: 'bg-[#e2eaf1]' }
])
const imageRef = ref(null)
const isScrollable = ref(false)
const selectedImage = ref(0)
const count = ref(1)
const isInfo = ref(true)
const rates = ref([
    { label: '5', percent: '63' },
    { label: '4', percent: '25' },
    { label: '3', percent: '13' },
    { label: '2', percent: '1' },
    { label: '1', percent: '4' }
])
const isVisible = ref(false)
const comments = ref([
    {
        owner: 'Akmal Abdullayev',
        location: 'Xorazm',
        rating: '4.5',
        text: "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).",
        images: [
            { img: commentImg1 },
            { img: commentImg2 },
            { img: commentImg3 },
            { img: commentImg4 },
            { img: commentImg5 }
        ]
    },
    {
        owner: 'Qodirali Abdullayev',
        location: 'Xorazm',
        rating: '4.5',
        text: "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).",
        images: [
            { img: commentImg1 },
            { img: commentImg2 },
            { img: commentImg3 },
            { img: commentImg4 },
            { img: commentImg5 }
        ]
    },
    {
        owner: 'Teshavoy Abdullayev',
        location: 'Xorazm',
        rating: '4.5',
        text: "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).",
        images: [
            { img: commentImg1 },
            { img: commentImg2 },
            { img: commentImg3 },
            { img: commentImg4 },
            { img: commentImg5 }
        ]
    }
])

const products = reactive([
    {
        id: 1,
        image: '/src/assets/images/iphone-13-pro-family-hero 1.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$1100.50',
        market: 'MacBro',
        rating: '4.05'
    },
    {
        id: 2,
        image: '/src/assets/images/Image15.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$2500.95',
        market: 'MacBro',
        rating: '4.56'
    },
    {
        id: 3,
        image: '/src/assets/images/Image-8.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$499.99',
        market: 'MacBro',
        rating: '3.87'
    },
    {
        id: 4,
        image: '/src/assets/images/Image14.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$1150.48',
        market: 'MacBro',
        rating: '4.99'
    },
    {
        id: 5,
        image: '/src/assets/images/Image13.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$540.48',
        market: 'MacBro',
        rating: '4.99'
    },
    {
        id: 6,
        image: '/src/assets/images/Image12.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$210.99',
        market: 'MacBro',
        rating: '4.87'
    },
    {
        id: 7,
        image: '/src/assets/images/Image11.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$200.95',
        market: 'MacBro',
        rating: '4.99'
    },
    {
        id: 8,
        image: '/src/assets/images/Image.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$1800.50',
        market: 'MacBro',
        rating: '4.77'
    }
])

const sortedComments = ref([])

const sortComments = () => {
    if (sortedComments.value.length === comments.value.length) {
        sortedComments.value = comments.value.slice(0, 1)
        isVisible.value = false
    } else {
        sortedComments.value = comments.value
        isVisible.value = true
    }
}
const selectImage = (index) => {
    selectedImage.value = index
}

const moveImages = (direction) => {
    if (imageRef.value) {
        const saleCardWidth = imageRef.value.children[0].offsetWidth + 10
        const scrollLeft = imageRef.value.scrollLeft
        const newIndex =
            direction === 'left' ? scrollLeft - saleCardWidth : scrollLeft + saleCardWidth

        imageRef.value.scrollTo({
            left: newIndex,
            behavior: 'smooth'
        })
    }
}

onMounted(() => {
    if (imageRef.value) {
        isScrollable.value = imageRef.value.scrollWidth > imageRef.value.offsetWidth
    }
    sortComments()
})
</script>

<style scoped>
.imagesContainer {
    scrollbar-width: none;
}
</style>
