<template>
    <div class="flex flex-col justify-center items-center gap-10 h-screen bg-[#2264D11A]">
        <div class="text-center">
            <div class="text-2xl lg:text-4xl font-semibold font-quicksand">
                Burningizni har joyga tiqmang!!!
            </div>
        </div>
        <div
            class="flex items-center gap-2 lg:gap-10 text-9xl sm:text-[200px] md:text-[300px] xl:text-[400px] font-quicksand font-bold"
        >
            4
            <img
                class="h-40 sm:h-60 md:h-80 xl:h-[500px]"
                src="@/assets/images/404.webp"
                alt="404"
            />
            4
        </div>
        <router-link :to="{ name: 'home' }">
            <ButtonComponent button-type="black-outline" class="px-5 text-xl">
                Asosiy sahifaga qaytish
            </ButtonComponent>
        </router-link>
    </div>
</template>
<script setup>
import ButtonComponent from '@/components/ButtonComponent.vue'
</script>
