<template>
    <div>
        <HeaderRow />
        <div class="container mt-16">
            <div class="grid grid-cols-11 sm:gap-12 xl:gap-[6.625rem] mb-12">
                <div class="col-span-11 lg:col-span-7 flex flex-col gap-11">
                    <DeliveryAndPaymentInformation />
                    <PurchaseCard />
                </div>
                <div class="col-span-11 lg:col-span-4 mt-12 sm:mt-0">
                    <BuyProductsCard class="lg:sticky lg:top-[105px]" />
                </div>
            </div>
            <div
                class="col-span-11 lg:col-span-8 grid grid-cols-12 gap-4 lg:shadow-[0_2px_4px_0_#5A5B6A3D,0_1px_2px_0_#3A3A443D] rounded lg:px-6 lg:py-4 mb-16"
            >
                <div class="col-span-12 mb-2">
                    <p class="text-lg sm:text-2xl leading-9 font-medium mb-4 sm:mb-9">
                        Tavsiya etilganlar
                    </p>
                </div>
                <div class="col-span-12 grid grid-cols-12 gap-4 lg:px-12 xl:px-24 lg:pb-16">
                    <div
                        class="col-span-6 sm:col-span-4 xl:col-span-3"
                        v-for="product of products"
                        :key="product.id"
                    >
                        <ItemCardComponent :item="product" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import DeliveryAndPaymentInformation from '@/components/DeliveryAndPaymentInformation.vue'
import PurchaseCard from '@/components/PurchaseCard.vue'
import HeaderRow from '@/components/HeaderRow.vue'
import BuyProductsCard from '@/components/BuyProductsCard.vue'
import ItemCardComponent from '@/components/ItemCardComponent.vue'
import { reactive } from 'vue'

const products = reactive([
    {
        id: 1,
        image: '/src/assets/images/iphone-13-pro-family-hero 1.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$1100.50',
        market: 'MacBro',
        rating: '4.05'
    },
    {
        id: 2,
        image: '/src/assets/images/Image15.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$2500.95',
        market: 'MacBro',
        rating: '4.56'
    },
    {
        id: 3,
        image: '/src/assets/images/Image-8.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$499.99',
        market: 'MacBro',
        rating: '3.87'
    },
    {
        id: 4,
        image: '/src/assets/images/Image14.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$1150.48',
        market: 'MacBro',
        rating: '4.99'
    },
    {
        id: 5,
        image: '/src/assets/images/Image13.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$540.48',
        market: 'MacBro',
        rating: '4.99'
    },
    {
        id: 6,
        image: '/src/assets/images/Image12.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$210.99',
        market: 'MacBro',
        rating: '4.87'
    },
    {
        id: 7,
        image: '/src/assets/images/Image11.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$200.95',
        market: 'MacBro',
        rating: '4.99'
    },
    {
        id: 8,
        image: '/src/assets/images/Image.png',
        description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        price: '$1800.50',
        market: 'MacBro',
        rating: '4.77'
    }
])
</script>

<style scoped></style>
