<template>
    <div
        class="shadow-[3px_4px_4px_0_#0000001A,-1px_-1px_4px_0_#0000001A] py-[22px] px-9 rounded-2xl"
    >
        <p class="text-base sm:text-2xl leading-9 font-medium mb-5 sm:mb-11">Buyurtma hisobi</p>
        <div class="flex justify-between items-center mb-3 sm:mb-6">
            <p class="text-sm sm:text-lg leading-7 text-[#000]">Mahsulot</p>
            <p class="text-sm sm:text-lg leading-7 text-[#000]">$1800.50</p>
        </div>
        <div
            class="flex justify-between items-center pb-4 sm:pb-8 border-b-2 border-[#F2F2F2] mb-7"
        >
            <p class="text-sm sm:text-lg leading-7 text-[#000]">Yetkazib berish</p>
            <p class="text-sm sm:text-lg leading-7 text-[#000]">$1</p>
        </div>
        <div class="flex justify-between items-center mb-6 sm:mb-12">
            <p class="text-sm sm:text-lg leading-7 font-medium text-[#000]">Hammasi</p>
            <div class="text-end">
                <p class="text-lg sm:text-2xl leading-9 font-semibold text-[#000]">$1801.50</p>
                <p class="text-xs sm:text-sm leading-5 text-[#939393]">Tahminan 5.120.000UZS</p>
            </div>
        </div>
        <router-link to="/purchase">
            <ButtonComponent class="sm:mt-1 mb-3" button-type="blue">Sotib olish</ButtonComponent>
        </router-link>
    </div>
</template>

<script setup>
import ButtonComponent from '@/components/ButtonComponent.vue'
</script>

<style scoped></style>
