<template>
    <div class="container">
        <ul class="lg:flex justify-between hidden py-12">
            <router-link to="/">
                <li class="flex flex-col items-center">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.76 14.34H18.75C19.5 14.77 20 15.58 20 16.5C20 17.163 19.7366 17.7989 19.2678 18.2678C18.7989 18.7366 18.163 19 17.5 19H2.5C1.83696 19 1.20107 18.7366 0.732233 18.2678C0.263392 17.7989 0 17.163 0 16.5C0 15.58 0.5 14.77 1.25 14.34H1.24L9 9.86C9 9.86 9 9 10 8C11 8 12 7.1 12 6C12 5.46957 11.7893 4.96086 11.4142 4.58579C11.0391 4.21071 10.5304 4 10 4C9.46957 4 8.96086 4.21071 8.58579 4.58579C8.21071 4.96086 8 5.46957 8 6H6C6 4.93913 6.42143 3.92172 7.17157 3.17157C7.92172 2.42143 8.93913 2 10 2C11.0609 2 12.0783 2.42143 12.8284 3.17157C13.5786 3.92172 14 4.93913 14 6C14 7.86 12.73 9.42 11 9.87L18.76 14.34ZM2.5 17H17.5C17.67 17 17.84 16.91 17.93 16.75C18.07 16.5 18 16.21 17.75 16.07L10 11.59L2.25 16.07C2 16.21 1.93 16.5 2.07 16.75C2.16 16.91 2.33 17 2.5 17Z" fill="#9696A0"/>
                    </svg>
                    <div class="text-xs mt-1">{{ $t('category.clothes') }}</div>
                </li>
            </router-link>
            <router-link to="/">
                <li class="flex flex-col items-center">
                    <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.7025 12.6025L1.9825 11.8925C1.2125 11.1125 1.2125 9.8525 1.9825 9.0725C2.7825 8.2825 4.0425 8.2825 4.8225 9.0725L7.4025 11.6425L11.6425 7.4025L9.0725 4.8225C8.2825 4.0425 8.2825 2.7825 9.0725 1.9825C9.8525 1.2125 11.1125 1.2125 11.8925 1.9825L12.6025 2.7025L18.2625 8.3625L18.9825 9.0725C19.7525 9.8525 19.7525 11.1125 18.9825 11.8925C18.1825 12.6825 16.9225 12.6825 16.1425 11.8925L13.5625 9.3225L9.3225 13.5625L11.8925 16.1425C12.6825 16.9225 12.6825 18.1825 11.8925 18.9825C11.1125 19.7525 9.8525 19.7525 9.0725 18.9825L8.3625 18.2625L2.7025 12.6025ZM1.6425 17.9025L2.7025 16.8425L1.2925 15.4325C0.9025 15.0425 0.9025 14.4125 1.2925 14.0225C1.6825 13.6325 2.3125 13.6325 2.7025 14.0225L6.9425 18.2625C7.3325 18.6525 7.3325 19.2825 6.9425 19.6725C6.5525 20.0625 5.9225 20.0625 5.5325 19.6725L4.1225 18.2625L3.0625 19.3225L1.6425 17.9025ZM17.9025 1.6425L19.3225 3.0625L18.2625 4.1225L19.6725 5.5325C20.0625 5.9225 20.0625 6.5525 19.6725 6.9425C19.2825 7.3425 18.6525 7.3425 18.2625 6.9425L14.0225 2.7025C13.6325 2.3125 13.6325 1.6825 14.0225 1.2925C14.4125 0.9025 15.0425 0.9025 15.4325 1.2925L16.8425 2.7025L17.9025 1.6425Z" fill="#9696A0"/>
                    </svg>
                    <div class="text-xs mt-1">{{ $t('category.sport') }}</div>
                </li>
            </router-link>
            <router-link to="/">
                <li class="flex flex-col items-center">
                    <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.36 11.52L1.17 7.34C-0.39 5.77 -0.39 3.24 1.17 1.68L8.19 8.68L5.36 11.52ZM10.67 11.18L17.55 18.06L16.14 19.47L9.26 12.59L2.38 19.47L0.97 18.06L10.62 8.4L10.42 8.18C9.64 7.41 9.64 6.15 10.42 5.37L14.76 1L15.69 1.92L12.45 5.18L13.41 6.12L16.65 2.87L17.57 3.79L14.32 7.03L15.26 7.99L18.52 4.74L19.44 5.68L15.07 10.02C14.29 10.8 13.03 10.8 12.26 10.02L12.04 9.82L10.67 11.18Z" fill="#9696A0"/>
                    </svg>
                    <div class="text-xs mt-1">{{ $t('category.kitchen') }}</div>
                </li>
            </router-link>
            <router-link to="/">
                <li class="flex flex-col items-center">
                    <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 4H11V11H9V4ZM7 18C7 18.2652 6.89464 18.5196 6.70711 18.7071C6.51957 18.8946 6.26522 19 6 19H3C2.73478 19 2.48043 18.8946 2.29289 18.7071C2.10536 18.5196 2 18.2652 2 18V13L4 4H8V11C8 11.2652 7.89464 11.5196 7.70711 11.7071C7.51957 11.8946 7.26522 12 7 12V18ZM8 3H5V1H8V3ZM13 18V12C12.7348 12 12.4804 11.8946 12.2929 11.7071C12.1054 11.5196 12 11.2652 12 11V4H16L18 13V18C18 18.2652 17.8946 18.5196 17.7071 18.7071C17.5196 18.8946 17.2652 19 17 19H14C13.7348 19 13.4804 18.8946 13.2929 18.7071C13.1054 18.5196 13 18.2652 13 18ZM12 3V1H15V3H12Z" fill="#9696A0"/>
                    </svg>
                    <div class="text-xs mt-1">{{ $t('category.travel') }}</div>
                </li>
            </router-link>
            <router-link to="/">
                <li class="flex flex-col items-center">
                    <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.83 17.12C4 15.96 4 14.62 4 13.29C5.67 14.29 7.33 15.29 8.17 16.46L8.5 17.02V14.74C7 13.84 5.58 12.92 4.83 11.87C4 10.71 4 9.37 4 8.04C5.67 9.04 7.33 10.04 8.17 11.21L8.5 11.79V9.49C7 8.59 5.58 7.67 4.83 6.62C4 5.46 4 4.12 4 2.79C5.67 3.79 7.33 4.79 8.17 5.96C8.27 6.1 8.36 6.25 8.44 6.41C8.27 5.79 8.16 5.21 8.15 4.61C8.14 3.1 8.8 1.55 9.46 3.8147e-08C10.15 1.48 10.84 2.97 10.85 4.48C10.86 5.11 10.75 5.75 10.57 6.38C10.65 6.24 10.73 6.1 10.83 5.96C11.67 4.79 13.33 3.79 15 2.79C15 4.12 15 5.46 14.17 6.62C13.42 7.67 12 8.59 10.5 9.49V11.79L10.83 11.21C11.67 10.04 13.33 9.04 15 8.04C15 9.37 15 10.71 14.17 11.87C13.42 12.92 12 13.84 10.5 14.74V17.02L10.83 16.46C11.67 15.29 13.33 14.29 15 13.29C15 14.62 15 15.96 14.17 17.12C13.42 18.17 12 19.09 10.5 19.99V21.79H8.5V19.99C7 19.09 5.58 18.17 4.83 17.12Z" fill="#9696A0"/>
                    </svg>
                    <div class="text-xs mt-1">{{ $t('category.garden') }}</div>
                </li>
            </router-link>
            <router-link to="/">
                <li class="flex flex-col items-center">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 0H15L11.5 7H15L8 20V12H5V0ZM7 2V10H10V12.66L12 9H8.24L11.76 2H7Z" fill="#9696A0"/>
                    </svg>
                    <div class="text-xs mt-1">{{ $t('category.electrical') }}</div>
                </li>
            </router-link>
            <router-link to="/">
                <li class="flex flex-col items-center">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 0V8H19C19 5.87827 18.1571 3.84344 16.6569 2.34315C15.1566 0.842855 13.1217 0 11 0ZM17.32 13.89C18.37 12.54 19 10.84 19 9H4.44L3.5 7H0V9H2.22C2.22 9 4.11 13.07 4.34 13.42C3.24 14 2.5 15.17 2.5 16.5C2.5 17.4283 2.86875 18.3185 3.52513 18.9749C4.1815 19.6313 5.07174 20 6 20C7.76 20 9.22 18.7 9.46 17H11.54C11.78 18.7 13.24 20 15 20C15.9283 20 16.8185 19.6313 17.4749 18.9749C18.1313 18.3185 18.5 17.4283 18.5 16.5C18.5 15.46 18.04 14.53 17.32 13.89ZM6 18C5.60218 18 5.22064 17.842 4.93934 17.5607C4.65804 17.2794 4.5 16.8978 4.5 16.5C4.5 16.1022 4.65804 15.7206 4.93934 15.4393C5.22064 15.158 5.60218 15 6 15C6.39782 15 6.77936 15.158 7.06066 15.4393C7.34196 15.7206 7.5 16.1022 7.5 16.5C7.5 16.8978 7.34196 17.2794 7.06066 17.5607C6.77936 17.842 6.39782 18 6 18ZM15 18C14.6022 18 14.2206 17.842 13.9393 17.5607C13.658 17.2794 13.5 16.8978 13.5 16.5C13.5 16.1022 13.658 15.7206 13.9393 15.4393C14.2206 15.158 14.6022 15 15 15C15.3978 15 15.7794 15.158 16.0607 15.4393C16.342 15.7206 16.5 16.1022 16.5 16.5C16.5 16.8978 16.342 17.2794 16.0607 17.5607C15.7794 17.842 15.3978 18 15 18Z" fill="#9696A0"/>
                    </svg>
                    <div class="text-xs mt-1">{{ $t('category.mothers') }}</div>
                </li>
            </router-link>
            <router-link to="/">
                <li class="flex flex-col items-center">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 7.22C10.5304 7.22 11.0391 7.43071 11.4142 7.80579C11.7893 8.18086 12 8.68957 12 9.22C12 9.75043 11.7893 10.2591 11.4142 10.6342C11.0391 11.0093 10.5304 11.22 10 11.22C9.46957 11.22 8.96086 11.0093 8.58579 10.6342C8.21071 10.2591 8 9.75043 8 9.22C8 8.68957 8.21071 8.18086 8.58579 7.80579C8.96086 7.43071 9.46957 7.22 10 7.22ZM10 19.22C8.05 19.22 6.22 18.66 4.69 17.69L8 12.69C8.6 13.03 9.28 13.22 10 13.22C10.72 13.22 11.4 13.03 12 12.69L15.31 17.69C13.78 18.66 11.95 19.22 10 19.22ZM0 9.22C0 5.08 2.5 1.52 6.11 -2.86102e-08L8.34 5.58C6.96 6.22 6 7.6 6 9.22H0ZM14 9.22C14 7.6 13.04 6.22 11.66 5.58L13.89 -2.86102e-08C17.5 1.52 20 5.08 20 9.22H14Z" fill="#9696A0"/>
                    </svg>
                    <div class="text-xs mt-1">{{ $t('category.children') }}</div>
                </li>
            </router-link>
            <router-link to="/">
                <li class="flex flex-col items-center">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 3C6 2.73478 6.10536 2.48043 6.29289 2.29289C6.48043 2.10536 6.73478 2 7 2H7.01C7.27522 2 7.52957 2.10536 7.71711 2.29289C7.90464 2.48043 8.01 2.73478 8.01 3C8.01 3.26522 7.90464 3.51957 7.71711 3.70711C7.52957 3.89464 7.27522 4 7.01 4H7C6.73478 4 6.48043 3.89464 6.29289 3.70711C6.10536 3.51957 6 3.26522 6 3ZM8 6C8 5.73478 7.89464 5.48043 7.70711 5.29289C7.51957 5.10536 7.26522 5 7 5C6.73478 5 6.48043 5.10536 6.29289 5.29289C6.10536 5.48043 6 5.73478 6 6V7C5.46957 7 4.96086 7.21071 4.58579 7.58579C4.21071 7.96086 4 8.46957 4 9V10C3.46957 10 2.96086 10.2107 2.58579 10.5858C2.21071 10.9609 2 11.4696 2 12V12.683C2.375 12.7881 2.73105 12.9518 3.055 13.168C3.33487 13.3545 3.66367 13.454 4 13.454C4.33633 13.454 4.66513 13.3545 4.945 13.168C5.55353 12.7622 6.26858 12.5457 7 12.5457C7.73142 12.5457 8.44647 12.7622 9.055 13.168C9.33487 13.3545 9.66367 13.454 10 13.454C10.3363 13.454 10.6651 13.3545 10.945 13.168C11.5535 12.7622 12.2686 12.5457 13 12.5457C13.7314 12.5457 14.4465 12.7622 15.055 13.168C15.3349 13.3545 15.6637 13.454 16 13.454C16.3363 13.454 16.6651 13.3545 16.945 13.168C17.2689 12.9518 17.625 12.7881 18 12.683V12C18 11.4696 17.7893 10.9609 17.4142 10.5858C17.0391 10.2107 16.5304 10 16 10V9C16 8.46957 15.7893 7.96086 15.4142 7.58579C15.0391 7.21071 14.5304 7 14 7V6C14 5.73478 13.8946 5.48043 13.7071 5.29289C13.5196 5.10536 13.2652 5 13 5C12.7348 5 12.4804 5.10536 12.2929 5.29289C12.1054 5.48043 12 5.73478 12 6V7H11V6C11 5.73478 10.8946 5.48043 10.7071 5.29289C10.5196 5.10536 10.2652 5 10 5C9.73478 5 9.48043 5.10536 9.29289 5.29289C9.10536 5.48043 9 5.73478 9 6V7H8V6ZM18 14.868C17.3938 15.2569 16.6873 15.4606 15.9671 15.4542C15.2469 15.4478 14.5442 15.2316 13.945 14.832C13.6651 14.6455 13.3363 14.546 13 14.546C12.6637 14.546 12.3349 14.6455 12.055 14.832C11.4465 15.2378 10.7314 15.4543 10 15.4543C9.26858 15.4543 8.55353 15.2378 7.945 14.832C7.66513 14.6455 7.33633 14.546 7 14.546C6.66367 14.546 6.33487 14.6455 6.055 14.832C5.45578 15.2316 4.75307 15.4478 4.03286 15.4542C3.31266 15.4606 2.60622 15.2569 2 14.868V17C2 17.2652 2.10536 17.5196 2.29289 17.7071C2.48043 17.8946 2.73478 18 3 18H17C17.2652 18 17.5196 17.8946 17.7071 17.7071C17.8946 17.5196 18 17.2652 18 17V14.868ZM9 3C9 2.73478 9.10536 2.48043 9.29289 2.29289C9.48043 2.10536 9.73478 2 10 2H10.01C10.2752 2 10.5296 2.10536 10.7171 2.29289C10.9046 2.48043 11.01 2.73478 11.01 3C11.01 3.26522 10.9046 3.51957 10.7171 3.70711C10.5296 3.89464 10.2752 4 10.01 4H10C9.73478 4 9.48043 3.89464 9.29289 3.70711C9.10536 3.51957 9 3.26522 9 3ZM12 3C12 2.73478 12.1054 2.48043 12.2929 2.29289C12.4804 2.10536 12.7348 2 13 2H13.01C13.2752 2 13.5296 2.10536 13.7171 2.29289C13.9046 2.48043 14.01 2.73478 14.01 3C14.01 3.26522 13.9046 3.51957 13.7171 3.70711C13.5296 3.89464 13.2752 4 13.01 4H13C12.7348 4 12.4804 3.89464 12.2929 3.70711C12.1054 3.51957 12 3.26522 12 3Z" fill="#9696A0"/>
                    </svg>
                    <div class="text-xs mt-1">{{ $t('category.food') }}</div>
                </li>
            </router-link>
        </ul>
    </div>

</template>

<script setup>

</script>

<style scoped>

</style>
