<template>
    <div class="shadow-[3px_4px_4px_0_#0000001A,-1px_-1px_4px_0_#0000001A] rounded-2xl py-4 px-9">
        <p class="text-lg sm:text-2xl leading-9 font-medium mb-4 sm:mb-9">
            Yetkazib berish manzili
        </p>
        <button class="text-base sm:text-lg font-medium leading-7 text-blue">
            +Manzil kiriting
        </button>
    </div>
    <div class="shadow-[3px_4px_4px_0_#0000001A,-1px_-1px_4px_0_#0000001A] rounded-2xl py-4 px-9">
        <p class="text-lg sm:text-2xl leading-9 font-medium mb-4 sm:mb-9">To’lov usuli</p>
        <button class="text-base sm:text-lg font-medium leading-7 text-blue">
            +To’lov usulini tanlang
        </button>
    </div>
</template>

<script setup></script>

<style scoped></style>
