<template>
    <div class="flex flex-col justify-start bg-[#F7F7FA] rounded">
        <button
            @click="isOpenFilter = !isOpenFilter"
            class="text-[12px] lg:text-base text-start flex justify-between items-center py-1.5 px-3 rounded transition-all duration-300 ease-in-out"
            :class="{
                'shadow-[0_2px_4px_0_#5A5B6A3D,0_1px_2px_0_#3A3A443D] bg-white': !isOpenFilter
            }"
        >
            {{ filterName }}
            <svg
                :class="{ 'rotate-180': isOpenFilter }"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M7.41 8L12 12.59L16.59 8L18 9.42L12 15.42L6 9.42L7.41 8Z"
                    :fill="`${isOpenFilter ? '#4A4B57' : '#2264D1'}`"
                />
            </svg>
        </button>
        <div
            class="overflow-hidden transition-all duration-300 ease-in-out px-5"
            :class="`${!isOpenFilter ? 'h-0' : 'h-fit py-3'}`"
        >
            <div v-for="filter of filters" :key="filter.id" class="flex items-center gap-3">
                <input
                    class="w-4 lg:w-5 h-4 lg:h-5 border-2 border-[#4A4B57] cursor-pointer accent-blue"
                    type="checkbox"
                    :id="filter.name"
                />

                <label
                    :for="filter.name"
                    class="text-[10px] lg:text-base py-2 flex items-center gap-4 select-none cursor-pointer hover:opacity-70"
                >
                    {{ filter.name }}
                </label>
            </div>
        </div>
    </div>
</template>

<script setup>
import { onMounted, ref } from 'vue'

const props = defineProps({
    filters: {
        type: Array,
        required: true
    },
    filterName: {
        type: String,
        required: true
    },
    isOpen: {
        type: Boolean,
        default: false
    }
})

const isOpenFilter = ref(props.isOpen)
onMounted(() => {
    window.addEventListener('resize', () => {
        isOpenFilter.value = window.innerWidth > 1024
    })
    if (window.innerWidth <= 1024) {
        isOpenFilter.value = false
    }
})
</script>
