<template>
    <main class="flex flex-col items-center px-4 py-6 bg-zinc-900 max-w-[52px] rounded-[32px]">
        <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/ba4d4d739f9f74e964a5c2cd4341a7a772c7840b764fa233f145db062b93c42c?apiKey=4730c675b6a842eda3bbf74cfab9fb47&"
            alt="Decorative icon"
            class="w-full aspect-square fill-black fill-opacity-0"
        />
        <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/a29a5eaaaf883f55ea66fe5ec7d9701cd9deccaf88b96cad2e22b3923a9cba08?apiKey=4730c675b6a842eda3bbf74cfab9fb47&"
            alt="Decorative icon 2"
            class="mt-8 w-full aspect-square"
        />
        <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/294064f22421a38d86a15a1c0b0720b28b2e168078f263885803f30d4013be61?apiKey=4730c675b6a842eda3bbf74cfab9fb47&"
            alt="Decorative icon 3"
            class="mt-8 w-full aspect-square"
        />
        <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/b13116125a946984f3478fa83209f7a3dfe9e28adabd4af37eb65dbdd8d5b282?apiKey=4730c675b6a842eda3bbf74cfab9fb47&"
            alt="Decorative icon 4"
            class="mt-8 w-full aspect-square"
        />
    </main>
</template>

<script setup></script>

<style scoped></style>
