<template>
    <div
        class="sticky top-0 bg-white z-50 py-5"
        :class="{ 'shadow-[3px_4px_4px_0_#0000001A,-1px_-1px_4px_0_#0000001A]': !isTop }"
    >
        <div class="container">
            <div class="grid grid-cols-12 h-11 justify-between">
                <div class="flex lg:hidden col-span-2 items-center">
                    <button @click="toggleMobileMenu">
                        <svg
                            width="27"
                            height="27"
                            viewBox="0 0 27 27"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M4.5 20.25H12.375M4.5 6.75H22.5H4.5ZM4.5 13.5H22.5H4.5Z"
                                stroke="#2264D1"
                                stroke-width="3"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>
                </div>
                <div class="col-span-2 lg:flex hidden items-center">
                    <button
                        @click="toggleDesktopMenu"
                        class="outline-0 flex justify-center items-center px-5 h-full w-fit bg-blue rounded-[10px]"
                    >
                        <svg
                            v-if="!isDesktopMenuOpen"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M2 5V7H12H22V5H2ZM2 11V13H22V11H12H2ZM2 17V19H22V17H2Z"
                                fill="white"
                            />
                        </svg>
                        <svg
                            v-else
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"
                                fill="#fff"
                            />
                        </svg>
                        <span class="text-base text-white font-semibold ml-2">{{
                            $t('menu')
                        }}</span>
                    </button>
                </div>
                <div class="flex bg-[#EDEDF0] h-full rounded-[50px] px-2 col-span-10 lg:col-span-4">
                    <div class="search-input h-full w-full flex items-center">
                        <div class="pr-1">
                            <label for="search" class="cursor-pointer">
                                <svg
                                    width="32"
                                    height="32"
                                    viewBox="0 0 32 32"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M13.5 7C15.2239 7 16.8772 7.68482 18.0962 8.90381C19.3152 10.1228 20 11.7761 20 13.5C20 15.11 19.41 16.59 18.44 17.73L18.71 18H19.5L24.5 23L23 24.5L18 19.5V18.71L17.73 18.44C16.59 19.41 15.11 20 13.5 20C11.7761 20 10.1228 19.3152 8.90381 18.0962C7.68482 16.8772 7 15.2239 7 13.5C7 11.7761 7.68482 10.1228 8.90381 8.90381C10.1228 7.68482 11.7761 7 13.5 7ZM13.5 9C11 9 9 11 9 13.5C9 16 11 18 13.5 18C16 18 18 16 18 13.5C18 11 16 9 13.5 9Z"
                                        fill="#787885"
                                    />
                                </svg>
                            </label>
                        </div>
                        <input
                            class="bg-[transparent] outline-none w-full"
                            id="search"
                            type="text"
                            :placeholder="$t('search')"
                            v-model="searchText"
                        />
                        <button @click="clearSearchInput" class="cursor-pointer outline-blue">
                            <svg
                                width="32"
                                height="32"
                                viewBox="0 0 32 32"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M23 10.41L21.59 9L16 14.59L10.41 9L9 10.41L14.59 16L9 21.59L10.41 23L16 17.41L21.59 23L23 21.59L17.41 16L23 10.41Z"
                                    fill="#2979FF"
                                />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="col-span-6 flex">
                    <div class="col-span-3 hidden items-center lg:flex justify-end ml-auto">
                        <router-link to="/">
                            <button
                                class="flex gap-2 leading-[31.6px] h-full pe-10 px-4 items-center text-[#5A5B6A] outline-blue"
                            >
                                {{ $t('home') }}
                                <svg
                                    width="20"
                                    height="20"
                                    viewBox="0 0 20 20"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M13.71 9.29L7.71 3.29C7.53 3.11 7.28 3 7 3C6.45 3 6 3.45 6 4C6 4.28 6.11 4.53 6.29 4.71L11.59 10L6.3 15.29C6.11 15.47 6 15.72 6 16C6 16.55 6.45 17 7 17C7.28 17 7.53 16.89 7.71 16.71L13.71 10.71C13.89 10.53 14 10.28 14 10C14 9.72 13.89 9.47 13.71 9.29Z"
                                        fill="#2979FF"
                                    />
                                </svg>
                            </button>
                        </router-link>
                    </div>

                    <div class="col-span-1 pr-2.5 hidden items-center lg:flex">
                        <router-link
                            to="/auth"
                            class="flex items-center justify-center h-full px-5 border border-[#9DC2FF] rounded-[4px] font-quicksand font-bold text-blue leading-[30px] outline-blue"
                        >
                            {{ $t('login') }}
                        </router-link>
                    </div>
                    <div class="col-span-1 pl-6 hidden items-center lg:flex">
                        <LanguageSwitcherComponent />
                    </div>
                </div>
            </div>
        </div>

        <!--start mobile menu-->
        <transition name="mobileMenu">
            <div
                ref="mobileMenu"
                v-if="isMobileMenuOpen"
                class="h-screen z-40 mobileMenu w-full overflow-auto bg-white absolute top-0"
            >
                <div class="min-h-screen h-fit">
                    <div class="bg-gray20 p-4">
                        <div class="flex justify-end">
                            <button @click="toggleMobileMenu">
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"
                                        fill="#A2AAAF"
                                    />
                                </svg>
                            </button>
                        </div>
                        <div>
                            <div class="text-xl font-semibold">{{ $t('signUp') }}</div>
                            <div class="text-sm mt-2">{{ $t('bonuses') }}</div>
                            <router-link
                                to="/auth"
                                class="flex mt-4 w-full items-center justify-center py-1 px-5 border border-[#9DC2FF] rounded-[4px] font-[quicksand] font-semibold text-blue leading-[30px] outline-blue"
                                >{{ $t('login') }}</router-link
                            >
                            <LanguageSwitcherComponent
                                class="py-3 border border-[#9DC2FF] rounded mt-4"
                            />
                        </div>
                    </div>
                    <div class="px-4 pt-6">
                        <div class="font-semibold">{{ $t('menu') }}</div>
                        <ul class="mt-4">
                            <li
                                v-for="(menuItem, index) in menuItems"
                                :key="index"
                                class="flex flex-col"
                            >
                                <div
                                    @click="openSubItems(index)"
                                    class="flex items-center justify-start cursor-pointer mb-3"
                                >
                                    <div
                                        class="w-10 h-10 flex items-center justify-center rounded-xl mr-2.5 bg-gray20"
                                    >
                                        B
                                    </div>
                                    <div
                                        class="text-sm whitespace-nowrap overflow-hidden text-ellipsis"
                                    >
                                        {{ menuItem.label }}
                                    </div>
                                    <svg
                                        v-show="menuItem.items"
                                        :class="{ 'rotate-180': menuItem.isOpen }"
                                        class="ml-auto transition-transform"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M7.41 8L12 12.59L16.59 8L18 9.42L12 15.42L6 9.42L7.41 8Z"
                                            fill="#787885"
                                        />
                                    </svg>
                                </div>

                                <transition name="menuSubItems">
                                    <ul v-if="menuItem.isOpen">
                                        <li
                                            v-for="(subItem, index) in menuItem.items"
                                            :key="index"
                                            class="whitespace-nowrap overflow-hidden text-ellipsis mb-7"
                                        >
                                            <div
                                                @click="openNestedSubItems(index)"
                                                class="pl-[3.125rem] cursor-pointer text-sm"
                                            >
                                                {{ subItem.label }}
                                            </div>
                                            <transition name="nestedMenu">
                                                <div
                                                    v-show="subItem.isOpen"
                                                    class="h-dvh p-4 left-0 overflow-hidden fixed bg-white top-0 z-40 w-full"
                                                >
                                                    <div class="relative flex items-start pb-8">
                                                        <button
                                                            @click="backToMenu(index)"
                                                            class="rounded-full flex-none mr-4 flex bg-white shadow-md items-center justify-center w-[2rem] h-[2rem]"
                                                        >
                                                            <svg
                                                                width="24"
                                                                height="25"
                                                                viewBox="0 0 24 25"
                                                                fill="none"
                                                                xmlns="http://www.w3.org/2000/svg"
                                                            >
                                                                <path
                                                                    d="M16 7.42074L11.41 12.0107L16 16.6007L14.58 18.0107L8.58 12.0107L14.58 6.01074L16 7.42074Z"
                                                                    fill="#2264D1"
                                                                />
                                                            </svg>
                                                        </button>
                                                        <div>
                                                            <div
                                                                class="text-2xl pr-6 font-semibold whitespace-pre-wrap"
                                                            >
                                                                {{ subItem.label }}
                                                            </div>
                                                            <div class="mt-4">
                                                                <router-link
                                                                    to="#"
                                                                    class="font-semibold whitespace-pre-wrap text-blue text-md"
                                                                    >Turkumning barcha
                                                                    mahsulotlari</router-link
                                                                >
                                                            </div>
                                                        </div>
                                                        <button
                                                            class="absolute top-0 right-0"
                                                            @click="closeNestedSubItems(index)"
                                                        >
                                                            <svg
                                                                width="24"
                                                                height="24"
                                                                viewBox="0 0 24 24"
                                                                fill="none"
                                                                xmlns="http://www.w3.org/2000/svg"
                                                            >
                                                                <path
                                                                    d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"
                                                                    fill="#A2AAAF"
                                                                />
                                                            </svg>
                                                        </button>
                                                    </div>
                                                    <div class="nestedSubItems pb-4 overflow-auto">
                                                        <ul class="h-fit min-h-full">
                                                            <li
                                                                v-for="(
                                                                    nestedSubItem, index
                                                                ) in subItem.items"
                                                                :key="index"
                                                                class="whitespace-nowrap overflow-hidden text-ellipsis cursor-pointer mb-3"
                                                            >
                                                                <router-link
                                                                    to="#"
                                                                    class="flex items-center justify-start"
                                                                >
                                                                    <div
                                                                        class="w-10 h-10 flex flex-none items-center justify-center rounded-xl mr-2.5 bg-gray20"
                                                                    >
                                                                        B
                                                                    </div>
                                                                    <div
                                                                        class="text-sm whitespace-nowrap overflow-hidden text-ellipsis"
                                                                    >
                                                                        {{ nestedSubItem.label }}
                                                                    </div>
                                                                </router-link>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </transition>
                                        </li>
                                    </ul>
                                </transition>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </transition>
        <!--end mobile menu-->

        <!--start desktop menu-->
        <div
            v-if="isDesktopMenuOpen"
            class="absolute z-40 desktopMenu bg-white top-[5.5rem] left-0 w-full"
        >
            <div class="container">
                <div class="relative">
                    <div class="menuContainer overflow-y-auto">
                        <ul class="h-fit">
                            <li v-for="(menuItem, index) in menuItems" :key="index">
                                <div
                                    @mouseenter="openDesktopSubItems(index)"
                                    class="flex desktopMenuItem hover:bg-blue10 rounded-lg pr-2.5 transition-all max-w-[18.75rem] items-center justify-start cursor-pointer mb-2.5"
                                >
                                    <div
                                        class="w-10 h-10 flex items-center justify-center rounded-lg mr-2.5 bg-gray20"
                                    >
                                        B
                                    </div>
                                    <div
                                        :class="{ 'text-blue': menuItem.isOpen }"
                                        class="text-sm whitespace-nowrap desktopMenuItemLabel overflow-hidden text-ellipsis"
                                    >
                                        {{ menuItem.label }}
                                    </div>
                                    <svg
                                        v-show="menuItem.items"
                                        class="ml-auto"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.70504 6L8.29504 7.41L12.875 12L8.29504 16.59L9.70504 18L15.705 12L9.70504 6Z"
                                            fill="#787885"
                                        />
                                    </svg>
                                </div>
                                <transition name="desktopSubMenuItems">
                                    <div
                                        v-if="menuItem.isOpen"
                                        class="absolute top-0 left-[20rem] bg-white"
                                    >
                                        <div class="text-[1.875rem] font-semibold">
                                            {{ menuItem.label }}
                                        </div>
                                        <div class="menuContainer overflow-y-auto">
                                            <ul class="w-[18.75rem] h-fit mt-2.5">
                                                <li
                                                    v-for="(subMenuItem, index) in menuItem.items"
                                                    :key="index"
                                                >
                                                    <div
                                                        @mouseenter="
                                                            openDesktopNestedSubItems(index)
                                                        "
                                                        class="flex p-1.5 desktopMenuItem w-full hover:bg-blue10 rounded-lg transition-all items-center justify-start cursor-pointer mb-2.5"
                                                    >
                                                        <div
                                                            :class="{
                                                                'text-blue': subMenuItem.isOpen
                                                            }"
                                                            class="text-sm desktopMenuItemLabel"
                                                        >
                                                            {{ subMenuItem.label }}
                                                        </div>
                                                        <svg
                                                            v-show="subMenuItem.items"
                                                            class="ml-auto"
                                                            width="24"
                                                            height="24"
                                                            viewBox="0 0 24 24"
                                                            fill="none"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                        >
                                                            <path
                                                                d="M9.70504 6L8.29504 7.41L12.875 12L8.29504 16.59L9.70504 18L15.705 12L9.70504 6Z"
                                                                fill="#787885"
                                                            />
                                                        </svg>
                                                    </div>
                                                    <transition name="desktopSubMenuItems">
                                                        <div
                                                            v-if="subMenuItem.isOpen"
                                                            class="absolute top-[2.8125rem] left-[20rem] bg-white"
                                                        >
                                                            <div
                                                                class="menuContainer overflow-y-auto"
                                                            >
                                                                <ul
                                                                    class="w-[18.75rem] h-fit mt-2.5"
                                                                >
                                                                    <li
                                                                        v-for="(
                                                                            nestedSubItem, index
                                                                        ) in subMenuItem.items"
                                                                        :key="index"
                                                                        class="flex p-1.5 desktopMenuItem w-full hover:bg-blue10 rounded-lg transition-all items-center justify-start cursor-pointer mb-2.5"
                                                                    >
                                                                        <router-link
                                                                            to="#"
                                                                            class="text-sm desktopMenuItemLabel"
                                                                            >{{
                                                                                nestedSubItem.label
                                                                            }}</router-link
                                                                        >
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </transition>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </transition>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end desktop menu-->
    </div>
</template>

<script setup>
import { onBeforeUnmount, onMounted, ref } from 'vue'
import LanguageSwitcherComponent from '@/components/LanguageSwitcherComponent.vue'
import useScrollDetector from '@/composables/useScrollDetector.js'

const { isTop } = useScrollDetector()

const searchText = ref('')
const isMobileMenuOpen = ref(false)
const isDesktopMenuOpen = ref(false)
const menuItems = ref([
    {
        label: 'Elektronika',
        isOpen: false,
        items: [
            {
                label: 'Smartfonlar va telefonlar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' },
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' },
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Noutbuklar, planshetlar va elektron kitoblar',
                isOpen: false,
                items: [
                    { label: 'Noutbuklar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Quloqchinlar va audio texnikalar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Soatlar va elektron budilniklar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Televizorlar va videotexnikalar',
                isOpen: false,
                items: [
                    { label: 'Televizorlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Oʻyin pristavkalari',
                isOpen: false,
                items: [
                    { label: "O'yin kontrollerlari" },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            }
        ]
    },
    {
        label: 'Maishiy texnika',
        isOpen: false,
        items: [
            {
                label: 'Goʻzallik uchun texnika',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Katta maishiy texnika',
                isOpen: false,
                items: [
                    { label: 'Noutbuklar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Oshxona buyumlari',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Iqlim texnikasi',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Uy uchun texnika',
                isOpen: false,
                items: [
                    { label: 'Televizorlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            }
        ]
    },
    {
        label: 'Kiyim',
        isOpen: false,
        items: [
            {
                label: 'Ayollar kiyimi',
                isOpen: false,
                items: [
                    { label: 'Koʻylaklar va sarafanlar' },
                    { label: 'Futbolkalar va polo' },
                    { label: 'Paypoqlar, kolgotkilar va chulkilar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Erkaklar kiyimi',
                isOpen: false,
                items: [
                    { label: 'Futbolka va pololar' },
                    { label: 'Paypoqlar va getrlar' },
                    { label: 'Shimlar' },
                    { label: 'Xudi va svitshotlar' }
                ]
            },
            {
                label: 'Bolalar kiyimi',
                isOpen: false,
                items: [
                    { label: 'Qizlar uchun kiyimlar' },
                    { label: "O'g'il bolalar uchun kiyimlar" },
                    { label: 'Yangi tugilgan chaqaloqlar uchun kiyimlar' }
                ]
            }
        ]
    },
    {
        label: 'Poyabzalllar',
        isOpen: false,
        items: [
            {
                label: 'Ayollar poyabzali',
                isOpen: false,
                items: [
                    { label: 'Krossovkalar va kedalar' },
                    { label: 'Tuflilar' },
                    { label: 'Paypoqlar, kolgotkilar va chulkilar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Erkaklar poyabzali',
                isOpen: false,
                items: [
                    { label: 'Sandallar' },
                    { label: 'Paypoqlar va getrlar' },
                    { label: 'Shimlar' },
                    { label: 'Xudi va svitshotlar' }
                ]
            },
            {
                label: 'Bolalar poyabzali',
                isOpen: false,
                items: [
                    { label: 'Qizlar uchun kiyimlar' },
                    { label: "O'g'il bolalar uchun kiyimlar" },
                    { label: 'Yangi tugilgan chaqaloqlar uchun kiyimlar' }
                ]
            }
        ]
    },
    {
        label: 'Konstovarlar',
        isOpen: false,
        items: [
            {
                label: 'Smartfonlar va telefonlar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Noutbuklar, planshetlar va elektron kitoblar',
                isOpen: false,
                items: [
                    { label: 'Noutbuklar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Quloqchinlar va audio texnikalar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Soatlar va elektron budilniklar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Televizorlar va videotexnikalar',
                isOpen: false,
                items: [
                    { label: 'Televizorlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Oʻyin pristavkalari',
                isOpen: false,
                items: [
                    { label: "O'yin kontrollerlari" },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            }
        ]
    },
    {
        label: 'Oziq ovqat mahsulotlari',
        isOpen: false,
        items: [
            {
                label: 'Smartfonlar va telefonlar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Noutbuklar, planshetlar va elektron kitoblar',
                isOpen: false,
                items: [
                    { label: 'Noutbuklar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Quloqchinlar va audio texnikalar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Soatlar va elektron budilniklar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Televizorlar va videotexnikalar',
                isOpen: false,
                items: [
                    { label: 'Televizorlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Oʻyin pristavkalari',
                isOpen: false,
                items: [
                    { label: "O'yin kontrollerlari" },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            }
        ]
    },
    {
        label: 'Hayvonlar uchun tovarlar',
        isOpen: false,
        items: [
            {
                label: 'Smartfonlar va telefonlar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Noutbuklar, planshetlar va elektron kitoblar',
                isOpen: false,
                items: [
                    { label: 'Noutbuklar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Quloqchinlar va audio texnikalar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Soatlar va elektron budilniklar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Televizorlar va videotexnikalar',
                isOpen: false,
                items: [
                    { label: 'Televizorlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Oʻyin pristavkalari',
                isOpen: false,
                items: [
                    { label: "O'yin kontrollerlari" },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            }
        ]
    },
    {
        label: 'Bolalar tovarlari',
        isOpen: false,
        items: [
            {
                label: 'Smartfonlar va telefonlar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Noutbuklar, planshetlar va elektron kitoblar',
                isOpen: false,
                items: [
                    { label: 'Noutbuklar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Quloqchinlar va audio texnikalar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Soatlar va elektron budilniklar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Televizorlar va videotexnikalar',
                isOpen: false,
                items: [
                    { label: 'Televizorlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Oʻyin pristavkalari',
                isOpen: false,
                items: [
                    { label: "O'yin kontrollerlari" },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            }
        ]
    },
    {
        label: "Qurilish va ta'mirlash",
        isOpen: false,
        items: [
            {
                label: 'Smartfonlar va telefonlar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Noutbuklar, planshetlar va elektron kitoblar',
                isOpen: false,
                items: [
                    { label: 'Noutbuklar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Quloqchinlar va audio texnikalar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Soatlar va elektron budilniklar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Televizorlar va videotexnikalar',
                isOpen: false,
                items: [
                    { label: 'Televizorlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Oʻyin pristavkalari',
                isOpen: false,
                items: [
                    { label: "O'yin kontrollerlari" },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            }
        ]
    },
    {
        label: 'Salomatlik',
        isOpen: false,
        items: [
            {
                label: 'Smartfonlar va telefonlar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Noutbuklar, planshetlar va elektron kitoblar',
                isOpen: false,
                items: [
                    { label: 'Noutbuklar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Quloqchinlar va audio texnikalar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Soatlar va elektron budilniklar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Televizorlar va videotexnikalar',
                isOpen: false,
                items: [
                    { label: 'Televizorlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Oʻyin pristavkalari',
                isOpen: false,
                items: [
                    { label: "O'yin kontrollerlari" },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            }
        ]
    },
    {
        label: 'Xobbi va ijod',
        isOpen: false,
        items: [
            {
                label: 'Smartfonlar va telefonlar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Noutbuklar, planshetlar va elektron kitoblar',
                isOpen: false,
                items: [
                    { label: 'Noutbuklar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Quloqchinlar va audio texnikalar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Soatlar va elektron budilniklar',
                isOpen: false,
                items: [
                    { label: 'Smartfonlar uchun aksessuarlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Televizorlar va videotexnikalar',
                isOpen: false,
                items: [
                    { label: 'Televizorlar' },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            },
            {
                label: 'Oʻyin pristavkalari',
                isOpen: false,
                items: [
                    { label: "O'yin kontrollerlari" },
                    { label: 'Smartfonlar' },
                    { label: 'Knopkali telefonlar' },
                    { label: 'Statsionar telefonlar' }
                ]
            }
        ]
    }
])
const subItems = ref({})
const mobileMenu = ref(null)
const oneIndex = ref(null)
const twoIndex = ref(null)

const clearSearchInput = () => {
    searchText.value = ''
}

const toggleMobileMenu = () => {
    isMobileMenuOpen.value = !isMobileMenuOpen.value
    changeBodyOverflow(isMobileMenuOpen.value)
}

const toggleDesktopMenu = () => {
    isDesktopMenuOpen.value = !isDesktopMenuOpen.value
    changeBodyOverflow(isDesktopMenuOpen.value)
    closeSubItems(menuItems.value)
    oneIndex.value = null
    twoIndex.value = null
}

// mobile menu
const openSubItems = (index) => {
    menuItems.value[index].isOpen = !menuItems.value[index].isOpen
    subItems.value = menuItems.value[index]
}

const openNestedSubItems = (index) => {
    const items = subItems.value.items

    items[index].isOpen = true
    mobileMenu.value.style.overflow = 'hidden'
}

const closeNestedSubItems = (index) => {
    subItems.value.items[index].isOpen = false
    subItems.value.isOpen = false
    isMobileMenuOpen.value = false
    mobileMenu.value.style.overflow = 'auto'
    changeBodyOverflow(isMobileMenuOpen.value)
}

const backToMenu = (index) => {
    subItems.value.items[index].isOpen = false
    mobileMenu.value.style.overflow = 'auto'
}

// desktop menu
const openDesktopSubItems = (index) => {
    if (oneIndex.value || oneIndex.value === 0) {
        if (index !== oneIndex.value) {
            menuItems.value[oneIndex.value].isOpen = false
            menuItems.value[index].isOpen = true
        }
    } else {
        menuItems.value[index].isOpen = true
    }

    oneIndex.value = index
    subItems.value = menuItems.value[index]

    closeSubItems(subItems.value.items)
    twoIndex.value = null
}

const openDesktopNestedSubItems = (index) => {
    if (twoIndex.value || twoIndex.value === 0) {
        if (index !== twoIndex.value) {
            subItems.value.items[twoIndex.value].isOpen = false
            subItems.value.items[index].isOpen = true
        }
    } else {
        subItems.value.items[index].isOpen = true
    }

    twoIndex.value = index
}

const closeSubItems = (items) => {
    if (items) {
        items.forEach((item) => {
            item.isOpen = false
        })
    }
}

const changeBodyOverflow = (data) => {
    document.body.style.overflow = data ? 'hidden' : 'auto'
}

const disableBodyOverflow = () => {
    document.body.style.overflow =
        !isDesktopMenuOpen.value && !isMobileMenuOpen.value ? 'auto' : 'hidden'
}

const handleWindowResize = () => {
    if (window.innerWidth >= 1024) {
        isMobileMenuOpen.value = false
        disableBodyOverflow()
    } else {
        isDesktopMenuOpen.value = false
        disableBodyOverflow()
    }
}

onMounted(() => {
    window.addEventListener('resize', handleWindowResize)
})
onBeforeUnmount(() => {
    window.removeEventListener('resize', handleWindowResize)
})
</script>

<style scoped>
.nestedSubItems {
    height: calc(100% - 102px);
}
.desktopMenu,
.menuContainer {
    height: calc(100vh - 88px);
}
.menuContainer {
    scrollbar-width: none;
}
.mobileMenu,
.nestedSubItems {
    scrollbar-width: none;
}
.desktopMenuItem:hover .desktopMenuItemLabel {
    color: #2264d1;
    transition: all 0.2s ease;
}
.mobileMenu-enter-active,
.mobileMenu-leave-active {
    transition: all 0.3s ease;
}
.mobileMenu-enter-from,
.mobileMenu-leave-to {
    transform: translateX(-100%);
}
.menuSubItems-enter-active,
.menuSubItems-leave-active {
    transition: opacity 0.2s ease-in;
}

.menuSubItems-enter-from,
.menuSubItems-leave-to {
    opacity: 0;
}
.desktopSubMenuItems-enter-active {
    transition: all 1s ease;
}
.desktopSubMenuItems-enter-from {
    opacity: 0;
    transform: translateX(-1.25rem);
}
</style>
