<template>
    <label class="flex flex-col w-full relative">
        <input
            :type="props.isEmail ? 'email' : 'text'"
            :placeholder="props.placeholder"
            :value="props.modelValue"
            @input="updateInput"
            class="border outline-none text-sm placeholder:text-sm rounded-[10px] px-4 py-2.5 mb-1 placeholder:text-gray30"
            :class="valid && !isValid ? 'focus:border-[#ED2709] border-[#ED2709]' : 'focus:border-gray_hover border-gray30'"
        >
        <span v-if="valid && !isValid" class="text-sm leading-normal text-[#ED2709]">{{ errorMessage }}</span>
    </label>
</template>

<script setup>
import {ref} from "vue";

const props = defineProps({
    modelValue: {
        type: String,
        required: true
    },
    placeholder: {
        type: String,
        required: true
    },
    isEmail: {
        type: Boolean
    },
    valid: {
        type: Boolean,
    },
    errValidText: {
        type: String
    },
    regExp: {
        type: RegExp
    }
})

const errorMessage = ref('')
const isValid = ref(true)

const emit = defineEmits(['update:modelValue'])

const updateInput = (e) => {
    emit('update:modelValue', e.target.value)

    if(props.valid) {
        isValid.value = props.regExp.test(e.target.value)
        errorMessage.value = e.target.value.length > 0 ? props.errValidText : 'Qatorni to\'ldiring!'
    }
}
</script>