<template>
    <div
        v-if="props.isListView"
        class="px-6 py-4 sm:px-6 sm:py-6 shadow-[0_4px_8px_0_#5C6BC033,0_2px_4px_0#3B457B33] rounded"
    >
        <div
            class="border-b-2 border-[#F2F2F2] text-base sm:text-lg leading-[27px] pb-1.5 sm:pb-3 mb-6"
        >
            {{ props.item.market }}
        </div>
        <div class="flex h-24 sm:h-32 gap-7 mb-4">
            <img
                class="img-time-matters hover:scale-110 transition duration-300 ease-in-out"
                :src="props.item.image"
                alt="product-image"
            />
            <div class="flex flex-col justify-between">
                <div class="mb-2.5 text-sm line-clamp-4 leading-[21px]">
                    {{ props.item.description }}
                </div>
                <div class="text-lg leading-7 font-bold">
                    {{ props.item.price }}
                </div>
            </div>
        </div>
        <div>
            <div class="flex justify-between items-center">
                <div
                    class="flex items-center gap-2 text-[#5E6366] text-base sm:text-xl font-roboto leading-[22px]"
                >
                    <RatingComponent :rating="props.item.rating" class="text-sm md:text-lg" />
                    {{ props.item.rating }}
                </div>
                <router-link
                    to="/item-info"
                    class="lg:ml-1 sm:gap-1 py-2 px-4 text-blue border border-[#9DC2FF] rounded text-sm leading-4 sm:leading-5 flex items-center sm:text-base"
                >
                    Ko'rish
                </router-link>
            </div>
        </div>
    </div>

    <div
        v-else
        class="p-4 flex flex-col hover:shadow-[0_4px_8px_0_#5C6BC033,0_2px_4px_0#3B457B33] rounded"
    >
        <router-link to="/item-info" class="mb-3">
            <img
                class="img-time-matters hover:scale-110 transition duration-300 ease-in-out"
                :src="props.item.image"
                alt="product-image"
            />
        </router-link>
        <div class="mb-2.5 text-[0.625rem] md:text-base line-clamp-3">
            {{ props.item.description }}
        </div>
        <div class="mb-2.5 sm:mb-4 text-sm md:text-2xl leading-5 md:leading-9 font-bold">
            {{ props.item.price }}
        </div>
        <div class="mb-1 sm:mb-5 text-[#787885] text-[10px] md:text-sm">
            {{ props.item.market }}
        </div>
        <div class="flex justify-between items-center">
            <div
                class="flex items-center gap-1 text-[#5E6366] text-[8px] sm:text-sm font-roboto leading-[22px]"
            >
                <RatingComponent :rating="props.item.rating" />
                {{ props.item.rating }}
            </div>
            <router-link
                to="/item-info"
                class="lg:ml-1 sm:gap-1 py-px px-1 sm:py-1 sm:px-1 text-blue border border-[#9DC2FF] rounded leading-4 sm:leading-5 flex items-center text-[10px] sm:text-sm"
            >
                Ko'rish
            </router-link>
        </div>
    </div>
</template>

<script setup>
import RatingComponent from '@/components/RatingComponent.vue'

const props = defineProps({
    item: {
        type: Object,
        required: true
    },
    isListView: {
        type: Boolean,
        default: false,
        required: false
    }
})
</script>

<style scoped></style>
