<template>
    <select
        class="rounded bg-[#EBF2FF] h-full px-2 cursor-pointer text-blue font-roboto text-sm leading-[16.41px] tracking-[0.75px] gap-2 outline-blue"
        @change="changeLocale($event.target.value)"
        v-model="locale"
    >
        <option v-for="l in locales" :key="l" :value="l" :class="{ selected: lang === l }">
            {{ $t(l) }}
        </option>
    </select>
</template>

<script setup>
import { reactive, ref } from 'vue'
import { useI18n } from 'vue-i18n'

const locales = reactive(['uz', 'ru', 'en'])
const lang = ref(localStorage.getItem('lang') || 'uz')
const { locale } = useI18n()

const changeLocale = (l) => {
    lang.value = l
    localStorage.setItem('lang', l)
    locale.value = l
}
</script>
