<template>
    <label class="flex flex-col w-full">
        <input
            ref="input"
            type="text"
            :placeholder="props.placeholder"
            :value="props.modelValue"
            @input="updateInput"
            class="border outline-none text-sm placeholder:text-sm rounded-xl px-4 py-2.5 mb-1 bg-white placeholder:text-gray_blue "
            :class="!isValid ? 'focus:border-[#ED2709] border-[#ED2709]' : 'focus:border-gray_hover border-gray30'"
        >
        <span v-if="!isValid" class="text-sm leading-normal text-[#ED2709]">{{ errorMessage }}</span>
    </label>
</template>
<script setup>
import {onMounted, ref} from "vue";
import IMask from "imask";

const props = defineProps({
    modelValue: {
        type: String,
        required: true
    },
    placeholder: {
        type: String,
        required: true
    },
    valid: {
        type: Boolean,
    }
})

const input = ref(null)
const errorMessage = ref('')
const isValid = ref(true)
const emit = defineEmits(['update:modelValue'])

const updateInput = (e) => {
    emit('update:modelValue', e.target.value)

    isValid.value = e.target.value.length
    errorMessage.value = !e.target.value.length ? 'Qatorni to\'ldiring!' : ''
}

onMounted(() => {
    IMask(input.value, {
        mask: [
            {
                mask: '+000 {(}00){ 000}-00-00',
                startsWith: '998',
                country: 'Uzbekistan'
            },
            {
                mask: '+0 {(}000{)} 000-00-00',
                startsWith: '7',
                country: 'Russia'
            },
            {
                mask: '+0 {(}000{)} 000-00-00',
                startsWith: '1',
                country: 'USA'
            },
            {
                mask: '0000000000000',
                startsWith: '',
                country: 'unknown'
            }
        ],
        dispatch: (appended, dynamicMasked) => {
            const number = (dynamicMasked.value + appended).replace(/\D/g,'');

            emit('update:modelValue', dynamicMasked.compiledMasks.find(m => number.indexOf(m.startsWith) === 0).value)
            return dynamicMasked.compiledMasks.find(m => number.indexOf(m.startsWith) === 0);
        }
    })
})
</script>

<style scoped>
</style>
