<template>
    <div
        class="shadow-[3px_4px_4px_0_#0000001A,-1px_-1px_4px_0_#0000001A] rounded-2xl py-5 px-9 peer"
    >
        <div class="flex flex-col">
            <div
                class="flex justify-between items-center w-full border-b-2 border-[#F2F2F2] pb-3 mb-6"
            >
                <p class="sm:text-2xl leading-9 text-black font-medium">Mahsulot</p>
                <div class="flex gap-3 sm:gap-10 items-center">
                    <p class="text-sm sm:text-lg font-medium leading-7">MacBro</p>
                    <button
                        class="flex items-center gap-1 sm:gap-2 text-xs sm:text-sm leading-5 text-[#818181]"
                    >
                        <svg
                            class="text-sm sm:text-xl"
                            style="width: 1em; height: 1em"
                            viewBox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M2.98816 2.98816C2.67559 3.30072 2.5 3.72464 2.5 4.16667V5C2.5 11.9033 8.09667 17.5 15 17.5H15.8333C16.2754 17.5 16.6993 17.3244 17.0118 17.0118C17.3244 16.6993 17.5 16.2754 17.5 15.8333V13.1008C17.5 12.9259 17.445 12.7553 17.3427 12.6134C17.2404 12.4714 17.096 12.3653 16.93 12.31L13.1858 11.0617C12.9956 10.9984 12.7888 11.0059 12.6036 11.0827C12.4184 11.1596 12.2671 11.3006 12.1775 11.48L11.2358 13.3608C9.19538 12.4389 7.5611 10.8046 6.63917 8.76417L8.52 7.8225C8.69938 7.73288 8.84042 7.58158 8.91726 7.39637C8.9941 7.21116 9.00158 7.00445 8.93833 6.81417L7.69 3.07C7.63475 2.90413 7.52874 2.75984 7.38696 2.65754C7.24519 2.55525 7.07483 2.50013 6.9 2.5H4.16667C3.72464 2.5 3.30072 2.67559 2.98816 2.98816Z"
                                stroke="#818181"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                        Bog’lanish
                    </button>
                </div>
            </div>
            <label for="input" class="cursor-pointer">
                <div
                    class="flex flex-col min-[450px]:flex-row gap-8 border-b-2 border-[#F2F2F2] pb-1 mb-6"
                >
                    <div class="min-[450px]:w-full gap-1.5 flex items-center">
                        <div class="w-8 h-8">
                            <input
                                id="input"
                                class="w-4 lg:w-5 h-4 lg:h-5 border-2 border-[#4A4B57] cursor-pointer accent-blue"
                                type="checkbox"
                            />
                        </div>
                        <img
                            src="@/assets/images/Image.png"
                            alt="product-image"
                            class="min-[450px]:max-w-full sm:max-w-36 w-full"
                        />
                    </div>
                    <div class="w-full">
                        <p class="mb-4 min-[450px]:mb-0 text-sm leading-5 tracking-[2.75%]">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever
                            since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.
                        </p>
                        <div
                            class="flex flex-col sm:flex-row justify-between gap-2 my-4 sm:my-0 sm:gap-0 items-start sm:items-center"
                        >
                            <div>
                                <div class="text-sm leading-5 flex gap-1 items-center my-2">
                                    <span class="font-medium">Rangi: </span>Silver
                                    <div
                                        class="w-4 h-4 rounded-full bg-[#C4C4C4] border border-[#B3B3B3]"
                                    ></div>
                                </div>
                                <div class="text-lg font-bold leading-7">$1800.50</div>
                            </div>
                            <div class="flex gap-3 items-center">
                                <button
                                    @click="productCount--"
                                    class="flex justify-center pb-0.5 items-center rounded-full text-lg leading-7 text-[#000] w-5 h-5 bg-[#C4C4C4]"
                                >
                                    -
                                </button>
                                <div class="text-lg leading-5 w-4 text-center">
                                    {{ productCount }}
                                </div>
                                <button
                                    @click="productCount++"
                                    class="flex justify-center pb-0.5 items-center rounded-full text-lg leading-7 text-[#000] w-5 h-5 bg-[#C4C4C4]"
                                >
                                    +
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col sm:flex-row gap-6 sm:gap-0 justify-between items-start">
                    <div>
                        <p class="text-sm leading-5 font-medium">
                            O’zbekiston bo’ylab yetkazib berish xizmati mavjud
                        </p>
                        <p class="text-sm leading-5 font-medium text-[#00000080]">
                            Yetkazib berish muddati 7-15 kun oralig’ida
                        </p>
                    </div>
                    <div
                        class="flex justify-between w-full sm:w-fit sm:gap-5 md:gap-10 lg:gap-[74px]"
                    >
                        <div class="text-start flex flex-col gap-3">
                            <p class="text-sm leading-5 font-medium text-[#00000080]">
                                Mahsulot narxi
                            </p>
                            <p class="text-sm leading-5 font-medium text-[#00000080]">
                                Yetkazib berish
                            </p>
                            <p class="text-sm leading-5 font-medium">To’lov</p>
                        </div>
                        <div class="text-end flex flex-col gap-3">
                            <p class="text-sm leading-5 font-medium text-[#00000080]">$1800.50</p>
                            <p class="text-sm leading-5 font-medium text-[#00000080]">$1</p>
                            <p class="text-sm leading-5 font-medium">$1801.50</p>
                        </div>
                    </div>
                </div>
            </label>
        </div>
    </div>
</template>

<script setup>
import { ref } from 'vue'

const productCount = ref(1)
</script>

<style scoped></style>
