<template>
    <div class="flex" :class="fontSize">
        <div v-for="star of foo" :key="star">
            <StarComponent v-if="star === 2" />
            <HalfStarComponent v-if="star === 1" />
            <OutlinedStarComponent v-if="star === 0" />
        </div>
    </div>
</template>

<script setup>
import StarComponent from '@/components/UI/StarComponent.vue'
import HalfStarComponent from '@/components/UI/HalfStarComponent.vue'
import OutlinedStarComponent from '@/components/UI/OutlinedStarComponent.vue'
import { computed, reactive } from 'vue'

const props = defineProps({
    rating: {
        type: String,
        required: true
    },
    fontSize: {
        type: String,
        default: 'text-[8px] md:text-sm'
    }
})

const starStatus = reactive([2, 2, 2, 2, 2])

const foo = computed(() => {
    const newArr = []

    for (let i = 1; i < starStatus.length + 1; i++) {
        if (props.rating >= i) {
            newArr.push(2)
        } else if (props.rating < i && props.rating > i - 1) {
            newArr.push(1)
        } else {
            newArr.push(0)
        }
    }
    return newArr
})
</script>

<style scoped></style>
