<template>
    <!--Email orqali sign in-->
    <div v-if="!isPhoneForm" class="w-full mt-14">
        <InputComponent
            v-model="formEmail.email"
            placeholder="user@example.com..."
            valid
            is-email
            :reg-exp="/^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/"
        />
        <PasswordInput
            class="w-full mt-4"
            variant="password"
            v-model="formEmail.password"
            placeholder="Parol"
        />
    </div>

    <!--Phone orqali sign in-->
    <div v-else class="w-full mt-14">
        <PhoneInput
            :valid="true"
            placeholder="+998 (__) ___-__-__"
            v-model="formPhone.phoneNumber"/>

        <PasswordInput
            class="w-full mt-4"
            variant="password"
            v-model="formPhone.password"
            placeholder="Parol"
        />
    </div>

    <button @click="isPhoneForm = !isPhoneForm" class="text-sm text-blue ml-auto mt-4">{{isPhoneForm ? 'Email orqali kirish' : 'Telefon orqali kirish'}}</button>

    <ButtonComponent class="px-4 w-full mt-7" button-type="blue">Kirish</ButtonComponent>
</template>

<script setup>

import ButtonComponent from '@/components/ButtonComponent.vue'
import PasswordInput from '@/components/PasswordInput.vue'
import { ref } from 'vue'
import InputComponent from '@/components/InputComponent.vue'
import PhoneInput from '@/components/PhoneInput.vue'

const isPhoneForm = ref(false)
const formEmail = ref({
    password: '',
    email: ''
})
const formPhone = ref({
    password: '',
    phoneNumber: ''
})

</script>

<style scoped>

</style>