<template>
    <div class="w-full mt-14">
        <InputComponent
            v-model="form.email"
            placeholder="SMS kod"
            valid
        />
    </div>

    <ButtonComponent class="px-4 w-full mt-7" button-type="blue">SMS kodni jo'natish</ButtonComponent>
</template>

<script setup>

import ButtonComponent from '@/components/ButtonComponent.vue'
import { ref } from 'vue'
import InputComponent from '@/components/InputComponent.vue'

const form = ref({
    code: ''
})

</script>

<style scoped>

</style>