<template>
    <div class="flex flex-col gap-3 xl:flex-row justify-between xl:h-9">
        <div class="grid grid-cols-3 sm:flex gap-1 sm:gap-3 lg:gap-4 flex-wrap lg:flex-nowrap">
            <div class="col-span-1 relative h-7 lg:h-9">
                <select
                    class="w-full cursor-pointer px-2 lg:px-[11.25px] rounded border border-[#B4B4BB] bg-[transparent] h-full focus:border-[#5A5B6A] outline-none text-[10px] lg:text-sm leading-[14.3px] lg:leading-5"
                >
                    <option selected value="newest">Yangilar</option>
                    <option value="popular">Ommabop</option>
                    <option value="cheaper">Arzonroq</option>
                    <option value="more-expensive">Qimmatroq</option>
                    <option value="top-rated">Reytingi yuqori</option>
                    <option value="most-sale">Ko'p sotilgan</option>
                </select>
                <span
                    class="text-[#787885] font-medium uppercase font-roboto text-[8px] lg:text-[10px] leading-4 tracking-[1.5px] bg-white absolute left-4 -top-1.5 lg:-top-2 px-1"
                >
                    Saralash
                </span>
            </div>
            <div class="col-span-1 relative h-7 lg:h-9">
                <select
                    class="w-full cursor-pointer px-2 lg:px-[11.25px] rounded border border-[#B4B4BB] bg-[transparent] h-full focus:border-[#5A5B6A] outline-none text-[10px] lg:text-sm leading-[14.3px] lg:leading-5"
                >
                    <option selected value="new">Yangi</option>
                    <option selected value="old">Eski</option>
                    <option selected value="used">Ishlatilgan</option>
                </select>
                <span
                    class="text-[#787885] font-medium uppercase font-roboto text-[8px] lg:text-[10px] leading-4 tracking-[1.5px] bg-white absolute left-4 -top-1.5 lg:-top-2 px-1"
                >
                    Holati
                </span>
            </div>
            <div class="col-span-1 relative h-7 lg:h-9">
                <select
                    class="w-full cursor-pointer px-2 lg:px-[11.25px] rounded border border-[#B4B4BB] bg-[transparent] h-full focus:border-[#5A5B6A] outline-none text-[10px] lg:text-sm leading-[14.3px] lg:leading-5"
                >
                    <option selected value="delivery">Yetkazib berish</option>
                    <option selected value="pick-up-from-point">Punktdan olish</option>
                </select>
                <span
                    class="whitespace-nowrap text-[#787885] font-medium uppercase font-roboto text-[8px] lg:text-[10px] leading-4 tracking-[1.5px] bg-white absolute left-4 -top-1.5 lg:-top-2 px-1"
                >
                    Yetkazish
                </span>
            </div>
        </div>
        <div
            class="flex flex-col sm:flex-row items-end sm:justify-between xl:justify-end gap-3 2xl:gap-6"
        >
            <div
                class="w-full sm:w-fit bg-[#EBF2FF] text-[#5A5B6A] h-7 lg:h-9 flex items-center text-[10px] lg:text-sm leading-5 rounded"
            >
                <button
                    v-for="filter of filterTwo"
                    :key="filter.id"
                    class="px-4 rounded w-full h-full"
                    :class="{
                        'bg-white shadow-[0_2px_4px_0_#2979FF3D,0_1px_2px_0_#1B4EA33D] text-blue font-medium':
                            filter.isActive
                    }"
                    @click="updateActiveFilter(filter.id)"
                >
                    {{ filter.name }}
                </button>
            </div>
            <div class="bg-[#EBF2FF] flex items-center h-7 lg:h-9 rounded w-full sm:w-fit">
                <button
                    class="px-5 py-1 rounded h-full flex items-center w-full justify-center"
                    :class="{
                        'bg-white shadow-[0_2px_4px_0_#2979FF3D,0_1px_2px_0_#1B4EA33D] text-blue font-medium':
                            isListView
                    }"
                    @click="updateView(true)"
                >
                    <svg
                        width="28"
                        height="28"
                        viewBox="0 0 28 28"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M10 7V11H22V7H10ZM10 21H22V17H10V21ZM10 16H22V12H10V16ZM5 11H9V7H5V11ZM5 21H9V17H5V21ZM5 16H9V12H5V16Z"
                            :fill="`${isListView ? '#2979FF' : '#787885'}`"
                        />
                    </svg>
                </button>
                <button
                    class="px-5 py-1 rounded h-full flex items-center w-full justify-center"
                    :class="{
                        'bg-white shadow-[0_2px_4px_0_#2979FF3D,0_1px_2px_0_#1B4EA33D] text-blue font-medium':
                            !isListView
                    }"
                    @click="updateView(false)"
                >
                    <svg
                        width="28"
                        height="28"
                        viewBox="0 0 28 28"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M5 13H13V5H5V13ZM5 23H13V15H5V23ZM15 23H23V15H15V23ZM15 5V13H23V5"
                            :fill="`${!isListView ? '#2979FF' : '#787885'}`"
                        />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</template>

<script setup>
import { reactive, ref } from 'vue'

const emit = defineEmits(['updateProductView'])

const filterTwo = reactive([
    { id: 1, name: 'Hammasi', isActive: true },
    { id: 2, name: 'Auksion', isActive: false },
    { id: 3, name: 'Hozirgi', isActive: false }
])

const isListView = ref(false)

const updateView = (status) => {
    isListView.value = status
    emit('updateProductView', isListView.value)
}

const updateActiveFilter = (filterId) => {
    filterTwo.forEach((filter) => {
        filter.id === filterId ? (filter.isActive = true) : (filter.isActive = false)
    })
}
</script>

<style scoped></style>
