@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        color: #19191D;
    }
}
/*
font-family: "Quicksand", sans-serif;
font-family: "Roboto", sans-serif;
*/