<template>
    <svg class="svg-icon" style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path d="M938.666667 394.24l-306.773334-26.453333L512 85.333333l-119.893333 282.88L85.333333 394.24l232.96 201.813333L248.32 896 512 736.853333 775.68 896 706.133333 596.053333 938.666667 394.24zM512 657.066667V260.266667l72.96 172.373333 186.88 16.213333-141.653333 122.88 42.666666 182.613334L512 657.066667z" fill="#FB8200" />
    </svg>
</template>

<script setup>
</script>

<style scoped>

</style>