<template>
    <svg class="svg-icon" style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path d="M512 656.64l-160.426667 96.853333 42.24-182.613333-141.653333-122.88 186.88-15.786667L512 259.84l72.96 172.373333 186.88 15.786667-141.653333 122.88 42.24 182.613333M938.666667 394.24l-306.773334-26.026667L512 85.333333 392.106667 368.213333 85.333333 394.24l232.533334 201.813333L248.32 896 512 736.853333 775.68 896l-69.973333-299.946667L938.666667 394.24z" fill="#FB8200" />
    </svg>
</template>

<script setup>
</script>

<style scoped>

</style>