<template>
    <svg class="svg-icon" style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path d="M512 736.853333L775.68 896l-69.973333-299.946667L938.666667 394.24l-306.773334-26.453333L512 85.333333 392.106667 367.786667 85.333333 394.24l232.533334 201.813333L248.32 896 512 736.853333z" fill="#FB8200" />
    </svg>
</template>

<script setup>

</script>

<style scoped>

</style>